@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/normalize'
@import 'helpers/smart-grid'

@import '../blocks/**/*'

.modal-open 
    overflow hidden

.container
    padding 0 20px
    @media (min-width 1160px)
        padding 0
    max-width 1160px
    margin auto
    width 100%


.header
    position fixed
    top 0px
    width 100%
    background #fff
    box-shadow:0px 2px 6.96px 1.04px rgba(18, 16, 11, 0.08)
    height auto
    z-index 100
    .container
        min-height 59px
        height auto
        display flex
        align-items center
        justify-content space-between
    &__right
        flex-grow 1
        display flex
        justify-content flex-end
        flex-direction column
    &__description
        font-size 10px
        color #272727
        line-height 1.1em
        margin-bottom 6px
        text-align right
        display none
  
.hamburger
    width 24px
    height 16px
    position relative
    &__plank
        position absolute
        width 100%
        height 2px
        background #2b519e
        transition all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s
        opacity 1
        &:nth-child(1)
            top 0px
        &:nth-child(2)
            transition all .2s ease 0s
            top 7px
        &:nth-child(3)
            top 14px
    &_open
        .hamburger__plank
            &:nth-child(1)
                top 7px
                transform rotate(-45deg)
            &:nth-child(2)
                opacity 0
            &:nth-child(3)
                top 7px
                transform rotate(45deg)
.logo
    width 50px
    height 45px
    background-image url(../images/logo-mobile.png)
    background-repeat no-repeat
    background-size contain
    margin 0 20px

.phone
    display flex
    justify-content flex-end
    //margin-bottom 10px
    &__icon
        width 20px
        height 19px
        background-image url(../images/phone.png)
        background-repeat no-repeat
        background-size contain
        margin -1px 10px 0 0
    &__text
        display inline-block
        color #000
        font-size 16px
        line-height 1em
        font-weight 700
.maps
    display none
    // display flex
    // justify-content flex-end

    // align-items center
    //justify-content center
    //flex-direction column
    &__icon
        width 20px
        height 19px
        background-image url(../images/phone.png)
        background-repeat no-repeat
        background-size contain
        margin 0 10px
    &__text
        display inline-block
        color #000
        font-size 14px
        line-height 1.2em
        font-weight 600
.offer
    width 100%
    height 400px
    background #7886ef
    &__wrapper
        display flex
        align-items center
        justify-content center
        flex-direction column
        height 100%
    &__title
        font-size 24px
        line-height 1.2em
        color #fff 
        font-weight 700
        margin-bottom 20px
        text-shadow 0px 0px 10px rgba(60, 60, 60, 0.4)
    &__description
        font-size 20px
        line-height 1.2em
        color #fff 
        font-weight 300
        margin-bottom 40px
        text-shadow 0px 0px 10px rgba(60, 60, 60, 0.3)
    // &__btn
    //     //width 100%
.btn
    padding 1em 1.2em
    border-radius 4px
    position relative
    user-select none
    overflow hidden
    cursor pointer
    display inline-block
    &__text
        font-size 16px
        line-height 1.2em
        position relative
        z-index 10
        font-weight 600
        transition-delay 2ms
        text-align center
    &:after
        content ""
        position absolute
        height 0%
        left 50%
        top 50%
        width 0
        border-radius 50%
        opacity 0
        transition all .8s ease 0s
        transform translateX(-50%) translateY(-50%)
        z-index 5
    &:hover
        &:after
            height 450%
            width 110%
            opacity 1    
        .btn__text
            color #fff
    &_view
        &_action
            border 2px solid #a61713
            .btn__text
                color #a61713
            &:after
                background #a61713
            &:hover
                .btn__text
                    color #fff            
        &_pseudo
            border 2px solid #4273d6
            .btn__text
                color #4273d6
            &:after
                background #4273d6
            &:hover
                .btn__text
                    color #fff
        &_light
            background rgba(0, 0, 0, 0.2)
            border 2px solid #fff
            .btn__text
                color #fff
            &:after
                background #fff
            &:hover
                .btn__text
                    color #000
.content
    padding 20px 0 
    font-size 14px
    line-height 1.6em
    color #121212
    h1
    h2
    h3
    h4
        margin 0.67em 0
        color #1f1f1f
    h1
        font-size 1.884em
    h2
        font-size 1.4em
    h3
        font-size 1.21em
    h4
        font-size 1.11em
    p
        line-height 1.692em
        font-size 1em
        margin-bottom 1em

    a
        color #2e64d0
        text-decoration underline
        cursor pointer
        &:visited
            color #52346c
        // &:active
    b
        font-weight 800
    img 
        margin-bottom 1em
        border-radius 4px
        width 100%
        max-width 100%
    blockquote
        border-left 4px solid #4273d6
        padding-left 16px
        line-height 1.5em
        margin-bottom 1em


ul.list
    //padding-left 10px
    margin-bottom 1em
    li
        padding-left 1.714em
        list-style-type none
        background  url(../images/list-item.svg) 0.14em  0.143em no-repeat
        background-size 1.35em 
        margin-bottom 1em
        line-height 1.6

    &_type
        &_check
            li
                padding-left 1.714em
                list-style-type none
                background  url(../images/list-item-check.svg) left top no-repeat
                background-size 1.62em 



.breadcrumbs
    width 100%
    display flex
    flex-direction row
    align-items center
    margin 20px 0 10px 0
    &__item
        font-size 14px
        line-height 1.2em
        display inline-block
        cursor pointer
        margin 0 8px
    &__home
        width 15px
        height 13px
        background-image url(../images/breadcrumbs__home.png)
        background-size contain
        background-repeat no-repeat
        display inline-block
        margin -1px 10px 0 0
    &__separator
        position relative
        width 6px
        height 5px
        display inline-block
        &:after
        &:before
            content ""
            position absolute
            width 7px
            height 1px
            background #68686a
        &:after
            transform rotate(38deg)
            top 0
        &:before
            transform rotate(-38deg)
            bottom 0

.footer
    background #e7e7e7
    padding 20px 0

.copyright
    background #545358
    color #ffffff
    font-size 13px
    line-height 1.3em
    padding 15px 0

.nav
    transition all .8s ease 0s
    background #f7f7f7
    position fixed
    top 0
    left -100%
    height 100%
    overflow-y scroll
    width 100%
    z-index 50
    padding 100px 0
    &_active
        left 0px
    &__header
        padding 10px 20px
        width 100%
        display flex
        align-items center
        justify-content space-between
    &__back
        flex-grow 1

    &__title
        font-size 20px
        line-height 1.5em

.menu
    //padding 20px 0
    &__item
        border-top 1px solid #d5d5d5
        padding 10px 0
        transition all .6s ease 0s
        background #f7f7f7
        &_active
            background #fff
            .menu__submenu
                display block
                opacity 1
            .menu__link
                color #000
                &:after
                    transform rotate(180deg)!important
        &:last-child
            border-bottom 1px solid #d5d5d5
    &__submenu
        display none
        opacity 0
        transition opacity .54s ease 0s
    &__link
        font-size 16px
        line-height 1.4em
        padding 0 20px
        color #171717
        &_arrow
            display flex
            position relative
            &:after
                transition all .5s ease 0s
                content ""
                position absolute
                width 11px
                height 7px
                background url(../images/link-arrow.svg)
                background-size contain
                background-repeat no-repeat
                right 20px
                top calc(50% - 3px)
    
.submenu
    & &
        margin-bottom -10px
        .submenu__item
            padding 5px 0
            border-left 2px solid #2e64d0
            //border-bottom 1px dashed #efeaea
            border-top none
            background #f0f0f0
            margin 0 0 0 20px
            &:first-child
                padding-top 8px
            &:last-child
                border-bottom none
                padding-bottom 8px
        .submenu__link
            padding 0 10px
    padding 10px 0 0 0 
    &__item
        border-top 1px dashed #d5d5d5
        padding 10px 0
        transition all .6s ease 0s
        //background #f0f0f0
        &_active
            //background #fff
            .submenu__submenu
                display block
                opacity 1
            .submenu__link
                &:after
                    transform rotate(180deg)!important
        &:last-child
            padding-bottom 0
    &__submenu
        display none
        opacity 0
        transition opacity .54s ease 0s
    &__link
        font-size 14px
        color #171717
        padding 0 20px
        &_arrow
            display flex
            position relative
            &:after
                transition all .5s ease 0s
                content ""
                position absolute
                width 11px
                height 7px
                background url(../images/link-arrow.svg)
                background-size contain
                background-repeat no-repeat
                right 20px
                top calc(50% - 3px)

.icon-close
    width 20px
    height 20px
    background url(../images/icon-close.svg)
    background-size contain
    background-repeat no-repeat

.input
    font-size 18px
    padding-top 0.52em
    margin-bottom 1em
    &__top-border 
        position absolute
        right 10px
        top -1px
        border-top 1px solid
        border-top-color #dce2fa
        transition all .2s ease 0s //transition border-color .13s ease-in,width 0s .1s;
        width calc(100% - 20px)
    &__box
        padding 0.556em 0.833em
        border 1px solid #dce2fa
        border-top 0
        border-radius 4px
        width 100%
        position relative
        transition all .2s ease 0s
        &:before
        &:after
            transition all .2s ease 0s
            content ''
            display block
            position absolute
            box-sizing border-box
            top -1px
            width 11px
            height 8px
            border-top 1px solid
            border-top-color #dce2fa
        &:before
            left -1px
            border-top-left-radius 4px
        &:after
            right -1px
            border-top-right-radius 4px
        &_focus
            .input__top-border
            &:before
            &:after
                border-color #84aeff
            border-color #84aeff
        &_filled
        &_focus
            .input__title
                top - 0.5em
                left 15px
                font-size 0.778em
        &_error
            .input__top-border
            &:before
            &:after
                border-color #f95555
            border-color #f95555
            .input__control
                background url(../images/input-error.svg) no-repeat center right
                background-size 1em
        &_ok
            .input__control
                background url(../images/input-ok.svg) no-repeat center right
                background-size 1em


    &__message
        font-size 0.69em
        color #696969
        line-height 1em
        margin-top 5px
    &__control
        width 100%
        font-size 1em
        line-height 1em
        color #5a5a5a
        outline none
        // &:focus // Событие для JS
        //     border 1px solid #84aeff
    &__title
        transition all .2s ease 0s
        color #444
        font-size 1em
        line-height 1em
        position absolute
        top calc(50% - 0.5em)
        left 0.833em
    &__icon
        &_type
            &_name
            &_email
            &_phone
                display inline
        

//width: calc(((100% - 20px) - 129.36px) - 9px); */