@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/normalize'
@import 'helpers/smart-grid'

@import '../blocks/**/*'

.modal-open 
    overflow hidden

.container
    padding 0 20px
    @media (min-width 1200px)
        padding 0
    max-width 1160px
    margin auto
    width 100%

.header
    position fixed
    top 0px
    width 100%
    background #fff
    box-shadow 0px 2px 6.96px 1.04px rgba(18, 16, 11, 0.08)
    height auto
    z-index 100
    transition all .5s ease-in-out
    z-index 300
    @media (min-width 1160px)
        background #fff url(../images/header.jpg) center no-repeat
    // background-size cover
    
    &_hidden
        transform translate(0, -100%)
    //padding 20px 0
    @media (min-width 1160px)
        position relative
    &__wrapper
        min-height 59px
        height auto
        // display flex
        //align-items center
        justify-content space-between
        row-flex()
        //margin auto
    &__left
    &__center
    &__right
        col()
    &__left
        display flex
        align-items center
        //width calc(100% - 200px)
        flex-grow 1
        @media (min-width 1160px)
            size(2)
        margin auto 0
        @media (min-width 390px)
            padding 20px 0
    &__center
        display none
        background linear-gradient(to right, rgba(234,234,234,.1) 0%, rgba(234,234,234,.3) 10%, rgba(245,245,245,.7) 50%,  rgba(234,234,234,.3) 90%, rgba(234,234,234,.1) 100%)
        //#f5f5f5 linear-gradient(to right, #eaeaea 0%,#f5f5f5 50%,#eaeaea 100%)
        @media (min-width 1160px)
            size(7)
            display block
    &__right
        width max-content 
        @media (min-width 1160px)
            size(2)
        margin auto 0
        // flex-grow 1
        // display flex
        // justify-content flex-end
        // flex-direction column
    //&__menu

.menu
    background #2b519e
    z-index 120
    display none
    @media (min-width 1160px)
        display block
    .container
        display flex
    &__item
        display inline-block
        // margin 0 10px
        position relative
        // padding 8px 15px 8px 8px
        padding 8px 15px 8px 10px
        background #2b519e
        border-left 1px solid rgba(255, 255, 255, .08)
        &:last-child
            border-right 1px solid rgba(255, 255, 255, .08)
        &:hover
            background #364261
            .menu__submenu
                visibility visible
                opacity 1
                //top 100%
        img
            width auto
            float left
            margin 3px 10px 0 5px 
    &__link
        cursor pointer
        color #fff
        font-size 14px
        line-height 1.25em
        font-weight 400
        display inline-block
        text-align center
        // &_arrow
        //     position relative
        //     padding-right 15px
        //     &:after
        //         transition all .5s ease 0s
        //         content ""
        //         position absolute
        //         width 11px
        //         height 7px
        //         background url(../images/link-arrow.svg)
        //         background-size contain
        //         background-repeat no-repeat
        //         right 0
        //         top calc(50% - 3px)
    &__submenu
        z-index 100
        // display none
        display flex
        position absolute
        visibility hidden
        opacity 0
        transition .2s ease-out
        // width 1160px
        left 0
        top 100%
        max-width 1160px
        background #fff
        border 1px solid  rgb(232, 232, 232)
        box-shadow 0px 10px 15px 0px rgba(0, 0, 0, 0.14);
        padding 0 0 20px 0 
        .menu__item
            padding 0
            margin 0
            width max-content
            background #fff
            &:hover
                background none
        .menu__link
            color #1f1f1f
            font-size 14px
            padding 8px 20px
            display block
            text-align left
            &:hover
                background #cacaca
            &_title
                font-size 16px
                font-weight 600
                margin 20px 0 5px 0
            
.top-menu
    width 100%
    height 100%
    display none
    //justify-content center
    display flex
    align-items center
    justify-content center
    position relative
    &__wrapper
        position absolute
        width 100%
        height 100%
        overflow hidden
        &:before
        &:after
            content ''
            position absolute
            //background #fff
            height 80px
            width 300px
            top 0
            transform rotate(-65deg)
        &:before
            right calc(100% - 140px)
        &:after
            left calc(100% - 130px)

    &__item
        display inline-block
        margin 0 10px
        position relative
        padding 20px 0
        &:hover
            .top-menu__submenu
                visibility visible
                opacity 1
    &__link
        font-size 15px
        line-height 1.4em
        cursor pointer
        // padding 0 20px
        color #1c1c1c
        font-weight 600
        &_arrow
            position relative
            padding-right 15px
            &:after
                transition all .5s ease 0s
                content ""
                position absolute
                width 11px
                height 7px
                background url(../images/link-arrow.svg)
                background-size contain
                background-repeat no-repeat
                right 0
                top calc(50% - 3px)
    &__search
        margin-top 6px
        cursor pointer
    &__submenu
        &:before
            content ''
            position fixed
            height 0
            width 0
            border 6px solid transparent
            left 50%
            right auto
            transform translateX(-50%)
            border-bottom-color inherit
            bottom calc(100% + 1px)
        &:after
            content ''
            position absolute
            height 0
            width 0
            border 6px solid transparent
            left 50%
            right auto
            transform translateX(-50%)
            border-bottom-color #fff
            bottom 100%
            z-index 10
        z-index 100
        visibility hidden
        opacity 0
        transition .2s ease-out
        position absolute
        transform translateX(-50%)
        // bottom 10px
        left 50%
        top calc(100% - 10px)
        background #fff
        border 1px solid  rgb(232, 232, 232)
        box-shadow 0px 10px 15px 0px rgba(0, 0, 0, 0.14)
        padding 10px 0 
        .top-menu__item
            padding 5px 10px
            margin 0
            width 100%
            min-width 200px
            display block
            &:hover
                background #cacaca
        .top-menu__link
            color #1f1f1f

  
.hamburger
    @media (min-width 1160px)
        display none
        align-items center
        justify-content space-between
    width 24px
    height 16px
    position relative
    @media (min-width 390px)
        margin-right 20px
    &__plank
        position absolute
        width 100%
        height 2px
        background #2b519e
        transition all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s
        opacity 1
        &:nth-child(1)
            top 0px
        &:nth-child(2)
            transition all .2s ease 0s
            top 7px
        &:nth-child(3)
            top 14px
    &_open
        .hamburger__plank
            &:nth-child(1)
                top 7px
                transform rotate(-45deg)
            &:nth-child(2)
                opacity 0
            &:nth-child(3)
                top 7px
                transform rotate(45deg)
.logo
    // width 100%
    flex-grow 1
    &__image
        margin 0 20px
        width 50px
        height 45px
        background-image url(../images/logo-mobile.png)
        @media (min-width 390px)
            width 77px
            height 70px
            margin 0 20px 0 0 
            background-image url(../images/logo.png)
        background-repeat no-repeat
        background-size contain
        margin-right 15px
        float left
    &__description
        display none
        @media (min-width 530px)
            display block
        width 100%
        font-size 16px
        color #000
        line-height 1.3em
        padding-top 14px
        font-weight 500

.phone
    display block
    &__wrap
        display flex
        align-items center
    //margin-bottom 10px
    &__description
        font-size 11px
        color #272727
        line-height 1.1em
        margin-bottom 6px
        text-align right
        display none
        width 100%
        font-weight 600
        @media (min-width 390px)
            display block
    &__icon
        width 22px
        height 22px
        background-image url(../images/phone.svg)
        background-repeat no-repeat
        background-size contain
        margin -1px 10px 0 0
        @media (min-width 390px)
            margin 0 10px 0 0
    &__text
        display inline-block
        color #000
        font-size 16px
        line-height 1em 
        font-weight 700
        @media (min-width 390px)
            font-size 18px
.maps
    display none
    margin-top 5px
    @media (min-width 390px)
        // display flex
        // //justify-content flex-end
        // //justify-content center
        // align-items center
        display block
    &__wrap
        display flex
        align-items center
    &__icon
        width 23px
        height 23px
        background-image url(../images/maps.svg)
        background-repeat no-repeat
        background-size contain
        margin 0px 10px 0 0
    &__text
        display inline-block
        color #000
        font-size 14px
        line-height 1.25em
        font-weight 600
.offer
    width 100%
    height 400px
    background #7886ef url(../images/offer.jpg) center no-repeat
    background-size cover
    box-shadow inset 0px 4px 20px 0px rgba(0, 0, 0, 0.2)
    &__wrapper
        display flex
        align-items center
        justify-content center
        flex-direction column
        height 100%
        @media (min-width 500px)
            align-items flex-start
    &__title
        font-size 24px
        line-height 1.2em
        color #fff 
        font-weight 700
        margin-bottom 20px
        text-shadow 0px 0px 10px rgba(60, 60, 60, 0.4)
        @media (min-width 700px)
            font-size 37px
    &__description
        font-size 20px
        line-height 1.2em
        color #fff 
        font-weight 300
        margin-bottom 40px
        text-shadow 0px 0px 10px rgba(60, 60, 60, 0.3)
        @media (min-width 700px)
            font-size 30px
    // &__btn
    //     //width 100%
.btn
    padding 1em 1.2em
    border-radius 4px
    position relative
    user-select none
    overflow hidden
    cursor pointer
    display inline-block
    &__text
        font-size 16px
        line-height 1.2em
        position relative
        z-index 10
        font-weight 600
        transition-delay 2ms
        text-align center
    &:after
        content ""
        position absolute
        height 0%
        left 50%
        top 50%
        width 0
        border-radius 50%
        opacity 0
        transition all .8s ease 0s
        transform translateX(-50%) translateY(-50%)
        z-index 5
    &:hover
        &:after
            height 450%
            width 110%
            opacity 1    
        .btn__text
            color #fff
    &_view
        &_action
            border 2px solid #a61713
            background none
            .btn__text
                color #a61713
            &:after
                background #a61713
            &:hover
                .btn__text
                    color #fff            
        &_pseudo
            border 2px solid #4273d6
            background none
            .btn__text
                color #4273d6
            &:after
                background #4273d6
            &:hover
                .btn__text
                    color #fff
        &_light
            background rgba(0, 0, 0, 0.1)
            border 2px solid #fff
            .btn__text
                color #fff
            &:after
                background #fff
            &:hover
                .btn__text
                    color #000
.content
    padding 20px 0 
    font-size 14px
    line-height 1.6em
    color #121212
    h1
    h2
    h3
    h4
        margin 0.67em 0
        color #1f1f1f
    h1
        font-size 1.884em
    h2
        font-size 1.4em
    h3
        font-size 1.21em
    h4
        font-size 1.11em
    p
        line-height 1.692em
        font-size 1em
        margin-bottom 1em

    a
        color #2e64d0
        text-decoration underline
        cursor pointer
        &:visited
            color #52346c
        // &:active
    b
        font-weight 800
    img 
        margin-bottom 1em
        border-radius 4px
        width 100%
        max-width 100%
    blockquote
        border-left 4px solid #4273d6
        padding-left 16px
        line-height 1.5em
        margin-bottom 1em


ul.list
    //padding-left 10px
    margin-bottom 1em
    li
        padding-left 1.714em
        list-style-type none
        background  url(../images/list-item.svg) 0.14em  0.143em no-repeat
        background-size 1.35em 
        margin-bottom 1em
        line-height 1.6

    &_type
        &_check
            li
                padding-left 1.714em
                list-style-type none
                background  url(../images/list-item-check.svg) left top no-repeat
                background-size 1.62em 

.breadcrumbs
    width 100%
    display flex
    flex-direction row
    align-items center
    margin 20px 0 10px 0
    &__item
        font-size 14px
        line-height 1.2em
        display inline-block
        cursor pointer
        margin 0 8px
    &__home
        width 15px
        height 13px
        background-image url(../images/breadcrumbs__home.png)
        background-size contain
        background-repeat no-repeat
        display inline-block
        margin -1px 10px 0 0
    &__separator
        position relative
        width 6px
        height 5px
        display inline-block
        &:after
        &:before
            content ""
            position absolute
            width 7px
            height 1px
            background #68686a
        &:after
            transform rotate(38deg)
            top 0
        &:before
            transform rotate(-38deg)
            bottom 0

.footer
    background #e7e7e7
    padding 20px 0

.copyright
    background #545358
    color #ffffff
    font-size 13px
    line-height 1.3em
    padding 15px 0

.nav
    transition all .8s ease 0s
    background #f7f7f7
    position fixed
    top 0
    left -100%
    height 100%
    overflow-y scroll
    width 100%
    z-index 50
    padding 100px 0
    &_active
        left 0px
    &__header
        padding 10px 20px
        width 100%
        display flex
        align-items center
        justify-content space-between
    &__back
        flex-grow 1

    &__title
        font-size 20px
        line-height 1.5em

.mobile-menu
    //padding 20px 0
    &__item
        border-top 1px solid #d5d5d5
        padding 10px 0
        transition all .6s ease 0s
        background #f7f7f7
        &_active
            background #fff
            .mobile-menu__submenu
                display block
                opacity 1
            .mobile-menu__link
                color #000
                &:after
                    transform rotate(180deg)!important
        &:last-child
            border-bottom 1px solid #d5d5d5
    &__submenu
        display none
        opacity 0
        transition opacity .54s ease 0s
    &__link
        font-size 16px
        line-height 1.4em
        padding 0 20px
        color #171717
        &_arrow
            display flex
            position relative
            &:after
                transition all .5s ease 0s
                content ""
                position absolute
                width 11px
                height 7px
                background url(../images/link-arrow.svg)
                background-size contain
                background-repeat no-repeat
                right 20px
                top calc(50% - 3px)
    
.mobile-submenu
    & &
        margin-bottom -10px
        .mobile-submenu__item
            padding 5px 0
            border-left 2px solid #2e64d0
            //border-bottom 1px dashed #efeaea
            border-top none
            background #f0f0f0
            margin 0 0 0 20px
            &:first-child
                padding-top 8px
            &:last-child
                border-bottom none
                padding-bottom 8px
        .mobile-submenu__link
            padding 0 10px
    padding 10px 0 0 0 
    &__item
        border-top 1px dashed #d5d5d5
        padding 10px 0
        transition all .6s ease 0s
        //background #f0f0f0
        &_active
            //background #fff
            .mobile-submenu__submenu
                display block
                opacity 1
            .mobile-submenu__link
                &:after
                    transform rotate(180deg)!important
        &:last-child
            padding-bottom 0
    &__submenu
        display none
        opacity 0
        transition opacity .54s ease 0s
    &__link
        font-size 14px
        color #171717
        padding 0 20px
        &_arrow
            display flex
            position relative
            &:after
                transition all .5s ease 0s
                content ""
                position absolute
                width 11px
                height 7px
                background url(../images/link-arrow.svg)
                background-size contain
                background-repeat no-repeat
                right 20px
                top calc(50% - 3px)

.icon-close
    width 20px
    height 20px
    background url(../images/icon-close.svg)
    background-size contain
    background-repeat no-repeat

.input
    font-size 18px
    padding-top 0.52em
    margin-bottom 1em
    // max-width 400px
    // min-width 300px
    // width 100%
    &_error
        .input__message
            color #f95555 !important
        .input__top-border
        .input__box
            &:before
            &:after
                border-color #f95555 !important
            border-color #f95555 !important
            .input__control
                background url(../images/input-error.svg) no-repeat center right
                background-size 1em
    &_ok
        .input__control
            background url(../images/input-ok.svg) no-repeat center right
            background-size 1em
    &__top-border 
        position absolute
        right 10px
        top -1px
        border-top 1px solid
        border-top-color #dce2fa
        transition all .2s ease 0s //transition border-color .13s ease-in,width 0s .1s;
        width calc(100% - 20px)
    &__box
        padding 0.556em 0.833em
        border 1px solid #dce2fa
        border-top 0
        border-radius 4px
        width 100%
        position relative
        transition all .2s ease 0s
        &:before
        &:after
            transition all .2s ease 0s
            content ''
            display block
            position absolute
            box-sizing border-box
            top -1px
            width 11px
            height 8px
            border-top 1px solid
            border-top-color #dce2fa
        &:before
            left -1px
            border-top-left-radius 4px
        &:after
            right -1px
            border-top-right-radius 4px
        &_focus
            .input__top-border
            &:before
            &:after
                border-color #84aeff
            border-color #84aeff
        &_filled
        &_focus
            .input__title
                top - 0.5em
                left 15px
                font-size 0.778em
    &__message
        font-size 0.69em
        color #696969
        line-height 1em
        min-height 1em
        margin-top 5px
    &__control
        width 100%
        font-size 1em
        line-height 1em
        color #5a5a5a
        outline none
        position relative
        z-index 100
        background none
        // &:focus // Событие для JS
        //     border 1px solid #84aeff
    &__title
        transition all .2s ease 0s
        color #444
        font-size 1em
        line-height 1em
        position absolute
        top calc(50% - 0.5em)
        left 0.833em
    &__icon
        &_type
            &_name
            &_email
            &_phone
                display inline

.arrow
    position relative
    width 12px
    height 12px
    &:before
    &:after
        transition all .5s ease 0s
        content ''
        position absolute
        width 8px
        height 1px
        background #2b519e
    &_top
        &:before
            transform rotate(-45deg)
            right 4px
            top 6px
        &:after
            transform rotate(45deg)
            left 5px
            top 6px
    &_right
        &:before
            transform rotate(45deg)
            top 3px
            left 2px
        &:after
            transform rotate(-45deg)
            top 8px
            left 2px
    &_left
        &:before
            transform rotate(-45deg)
            top 3px
            left 2px
        &:after
            transform rotate(45deg)
            top 8px
            left 2px
    &_bottom
        &:before
            transform rotate(45deg)
            right 4px
            top 6px
        &:after
            transform rotate(-45deg)
            left 5px
            top 6px

.reviews
    border-radius 5px
    background-image linear-gradient( 45deg, rgba(214,227,254,.4) 0%, rgba(201,199,199,.4) 78%, rgba(213,213,213,.4) 100%)
    padding 20px 0
    position relative
    margin-bottom 30px
    &__title
        color #3d3d3d
        font-weight 600
        font-size 20px
        line-height 1.3em
        text-align center
        padding 0 10px
        margin-bottom 30px
        @media (min-width 700px)
            font-size 22px
    &__items
        position relative
    &__item
        text-align center
        padding 0 20px
        @media (min-width 1000px)
            padding 0 40px
        @media (min-width 700px)
            display flex
            align-items flex-start
            padding-bottom 50px !important
    &__person
        @media (min-width 700px)
            //float left
            margin-right 40px
    &__avatar
        border-radius 100% !important
        width 130px !important
        height 130px !important
        max-width 130px !important
    &__name
        color #52475b
        line-height 1em
        font-size 16px 
        font-weight 600
        margin-bottom 20px
        @media (min-width 700px)
            font-size 20px
    &__text
        font-size 14px
        line-height 1.45em
        color #363636
        text-align left
        position relative
        @media (min-width 700px)
            padding 20px 70px
            font-size 16px 
            &:before
            &:after
                content ''
                position absolute
                width 51px 
                height 41px
                background-repeat no-repeat
                background-size contain
            &:before
                background-image url(../images/quote-before.svg)
                top 0
                left 0
            &:after
                background-image url(../images/quote-after.svg)
                right 0
                bottom 0             
    .bx-wrapper
        position relative

    .bx-prev
    .bx-next
        position absolute
        border-radius 5px
        background #fff
        box-shadow 0px 1px 4px 0px rgba(151, 147, 147, 0.5)
        width 40px 
        height 40px
        top 110px
        @media (min-width 700px)
            top auto
            bottom -10px
        &:before
        &:after
            content ''
            position absolute
            width 18px
            height 2px
            background #4274d6
    .bx-prev
        left -5px
        @media (min-width 700px)
            left auto 
            right 58px
        &:before
            transform rotate(-45deg)
            top 13px
            left 10px
        &:after
            transform rotate(45deg)
            top 25px
            left 10px
    .bx-next
        right -5px
        @media (min-width 700px)
            right 10px
        &:before
            transform rotate(45deg)
            top 13px
            right 10px
        &:after
            transform rotate(-45deg)
            top 25px
            right 10px

.stages
    margin-bottom 50px
    &__header
        color #3d3d3d
        font-size 20px
        font-weight 600
        margin-bottom 30px
        text-align center
        @media (min-width 600px)
            font-size 24px
    &__item
        display grid
        grid-template-areas 'image title' 'text text' 'line line'
        grid-template-columns 75px calc(100% - 75px)
        @media (min-width 600px)
            grid-template-areas 'image title' 'image text' 'line line'
            grid-template-columns 175px calc(100% - 175px)
            .stages__line
                margin 10px 0 10px 79px


        &:last-child>.stages__line
            display none

        @media (min-width 900px)
            &:last-child>.stages__line
                display block
            &:first-child>.stages__line
                display none
           
            &:nth-child(odd)
                grid-template-areas 'image title line' 'image text line'
                grid-template-columns 175px calc(50% - 175px) 50%
                .stages__line
                    background url(../images/stages__line.png) no-repeat right
                    width 50%
                    height 62px
                    margin 25px 0 0 20px
            &:nth-child(even)
                grid-template-areas 'line image title' 'line image text' 
                grid-template-columns 50% 175px calc(50% - 175px)
                .stages__line
                    background url(../images/stages__line.png) no-repeat left
                    width 50%
                    height 62px
                    margin 25px 0 0 calc(50% - 20px) 

    &__image
        width 65px
        height 65px
        background #ddd
        grid-area image
        border-radius 100%
        @media (min-width 600px)
            width 160px
            height 160px
    &__title
        font-size 17px
        line-height 1.3em
        color #335dae
        font-weight 600
        grid-area title
        display flex
        align-items center
        @media (min-width 600px)
            font-size 20px
    &__text
        font-size 13px
        line-height 1.4em
        color #262626
        grid-area text
        padding-top 10px
        @media (min-width 600px)
            font-size 14px
            padding-top 0
    &__line
        grid-area line
        background url(../images/stages__line_m.png)
        width 2px
        height 45px
        margin 10px 0 10px 30px


.deadlines
    margin-bottom 50px
    &__header
        color #3d3d3d
        font-size 20px
        font-weight 600
        margin-bottom 50px
        text-align center
        @media (min-width 600px)
            font-size 24px
        @media (min-width 900px) 
            margin-bottom 30px
    &__wrapper
        position relative
        display table
        margin 0 auto
        @media (min-width 900px)
            // width 100%
            &:after
                content ''
                position absolute
                background #aabfe7
                height 100%
                width 4px
                border-radius 2px
                top 0
                left calc(50% - 2px)
    &__item
        position relative
        margin-bottom 50px
        &:last-child
            margin-bottom 0px
        @media (min-width 900px)
            display grid
            grid-template-columns 420px 50px 420px
            align-items center
            .deadlines__time
                height 50px
                line-height 50px
                position relative
            &:nth-child(odd)
                grid-template-areas 'body stage time'
                .deadlines__time
                    padding 0 20px 0 40px
                    left -10px
            &:nth-child(even)
                grid-template-areas 'time stage body'
                .deadlines__time
                    padding 0 40px 0 20px
                    right -10px
                .deadlines__time-wrapper
                    display flex
                    flex-direction row-reverse    
    &__title
        font-size 20px
        text-align center
        line-height 1.3em
        margin-bottom 10px
        margin-top 20px
        @media (min-width 900px)
            margin-top 0
    &__text
        font-size 14px
        line-height 1.4em
    &__body 
        border-radius 4px 4px 0 0 
        //background linear-gradient( 45deg, rgb(213,213,213) 0%, rgb(201,199,199) 22%, rgb(214,227,254) 100%)
        background linear-gradient( 45deg, rgba(213,213,213,.4) 0%, rgba(201,199,199,.4) 78%, rgba(214,227,254,.4) 100%)
        grid-area body
        max-width 420px
        padding 20px
        @media (min-width 900px)
            border-radius 4px
    &__number
        font-size 13px
        line-height 1em
        font-weight 600
        text-align center
        @media (min-width 900px)
                font-size 14px
                line-height 1.2em
        span
            font-size 16px
            display block
            @media (min-width 900px)
                font-size 24px
        margin auto
    &__stage
        width 44px
        height 44px
        grid-area stage
        // 70
        //border 3px solid #aabfe7
        background #fff
        //border 6px solid #fff
        box-shadow 0 0 0px 3px #aabfe7, 0 0 0px 9px #fff
        border-radius 50%
        display flex
        align-items center
        top -25px
        left calc(50% - 22px)
        position absolute
        z-index 10
        @media (min-width 900px)
            box-shadow 0 0 0px 4px #aabfe7, 0 0 0px 10px #fff
            position relative
            top auto
            left auto
            width 50px
            height 50px
    &__time
        font-size 16px
        color #fff
        padding 10px 20px
        border-radius 0 0 4px 4px 
        background #3059ab
        text-align center
        @media (min-width 900px)
            border-radius 4px
            width max-content
    
    .time-wrapper
        grid-area time


.articles
    row-flex()
    margin-bottom 30px
    &__item
        margin-bottom 40px
        col()
        size(12)
        @media (min-width 600px)
            size(6)
        @media (min-width 880px)
            size(4)
    &__box
        position relative
        width 100%
        border solid 1px solid #f4f4f4;
        border-radius 4px
        background #fff
        box-shadow 0px 5px 20px 0px rgba(92, 92, 92, 0.1)
        //width: 336px
        transition all .4s ease 0s
        top 0
        &:hover
            box-shadow 0px 5px 20px 0px rgba(92, 92, 92, 0.3)
            top -10px
    &__content
        padding 0 20px 20px 20px
        line-height 1.4em
        color #000
    &__date
        font-size 14px
        color #656565
        margin-bottom 20px
    &__title
        font-size 16px
        margin-bottom 20px
    &__description
        font-size 15px
        font-weight 300
        margin-bottom 20px
    &__more
        display flex
        flex-direction row-reverse
    &__img
        width 100%
        max-width 100%
        height auto
        border-radius 4px 4px 0 0 !important 
        margin-bottom 10px

.more
    display inline-block
    color #656565
    font-size 13px
    display flex
    align-items center
    cursor pointer
    transition all .5s ease 0s
    &__arrow
        width 20px
        height 1px 
        background #bebec0
        position relative
        margin-left 8px
        transition all .4s ease 0s, background .1s ease 0s
        right 0px
        &:before
        &:after
            content ''
            position absolute
            width 6px
            height 1px
            background #bebec0
            right 0px
        &:before
            transform rotate(-45deg)
            bottom -2px
        &:after
            transform rotate(45deg)
            top -2px
    &:hover
        color #5786e6
        .more__arrow
            width 25px
            right -5px
            margin-left 3px
            &
            &:before
            &:after
                background #5786e6

.form-box
    // padding 20px
    //background #ddd
    &__wrapper
        //display table
        margin auto
        border 1px solid #ddd
        padding 40px
        width 400px 