@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/normalize'
@import 'helpers/smart-grid'

@import '../blocks/**/*'


.page
    &__main
        transition all 200ms 0ms

.modal-open 
    overflow hidden

.container
    padding 0 20px
    @media (min-width 1200px)
        padding 0
    max-width 1160px
    margin auto
    width 100%

.header
    position fixed
    top 0px
    left 0px
    width 100%
    background #fff
    box-shadow 0px 2px 6.96px 1.04px rgba(18, 16, 11, 0.08)
    height auto
    z-index 100
    transition all .5s ease-in-out
    z-index 300
    @media (min-width 1160px)
        background #fff url(../images/header.jpg) center no-repeat
    // background-size cover
    
    &_hidden
        transform translate(0, -100%)
    //padding 20px 0
    @media (min-width 1160px)
        position relative
    &__wrapper
        min-height 59px
        height auto
        // display flex
        //align-items center
        justify-content space-between
        row-flex()
        //margin auto
    &__left
    &__center
    &__right
        col()
    &__left
        display flex
        align-items center
        //width calc(100% - 200px)
        flex-grow 1
        @media (min-width 1160px)
            size(2)
        margin auto 0
        @media (min-width 390px)
            padding 20px 0
    &__center
        display none
        background linear-gradient(to right, rgba(234,234,234,.1) 0%, rgba(234,234,234,.3) 10%, rgba(245,245,245,.7) 50%,  rgba(234,234,234,.3) 90%, rgba(234,234,234,.1) 100%)
        //#f5f5f5 linear-gradient(to right, #eaeaea 0%,#f5f5f5 50%,#eaeaea 100%)
        @media (min-width 1160px)
            size(7)
            display block
    &__right
        width max-content 
        @media (min-width 1160px)
            size(2)
        margin auto 0
        // flex-grow 1
        // display flex
        // justify-content flex-end
        // flex-direction column
    //&__menu

.menu
    a
        text-decoration none
    background #2b519e
    z-index 120
    display none
    position relative
    box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    @media (min-width 1160px)
        display block
    .container
        display flex
        padding 0
        //lex-direction column
        position relative
    .arrow_theme_light
        margin-left 8px
    &__item
        // display inline-block
        display flex
        align-items center
        // margin 0 10px
        position relative
        //width 100%
        padding 8px 10px 8px 10px  
        background #2b519e
        transition .2s ease-out
        border-left 1px solid rgba(255, 255, 255, .08)
        &:last-child
            border-right 1px solid rgba(255, 255, 255, .08)
        &:hover
            background #364261
            .menu__submenu
                visibility visible
                opacity 1
                // transition opacity 100ms 0ms, visibility 0ms 1200ms
                //top 100%
        img
            width auto
            float left
            margin-right 10px
    &__link
        cursor pointer
        color #fff
        font-size 14px
        line-height 1.2em
        font-weight 600
        display inline-block
        // text-align center
        // &_arrow
        //     position relative
        //     padding-right 15px
        //     &:after
        //         transition all .5s ease 0s
        //         content ""
        //         position absolute
        //         width 11px
        //         height 7px
        //         background url(../images/link-arrow.svg)
        //         background-size contain
        //         background-repeat no-repeat
        //         right 0
        //         top calc(50% - 3px)
    &__submenu
        z-index 100
        // display none
        display flex
        // flex-wrap wrap
        position absolute
        visibility hidden
        opacity 0
        // transition .2s ease-out
        transition opacity .2s ease-out, visibility 0ms 0ms
        // width 1160px
        left 0
        top 100%
        max-width 1160px
        background #fff
        border 1px solid  rgb(232, 232, 232)
        box-shadow 0px 10px 15px 0px rgba(0, 0, 0, 0.14);
        padding 0 0 20px 0
        &_big
            width 1160px
            // visibility visible
            // opacity 1
            padding 0
        .menu__item
            box-sizing border-box
            word-wrap break-word
            // margin-left 5px
            // margin-right 5px
            // max-width calc(1160px / 5)
            padding 0
            margin 0
            width max-content
            max-width 290px
            background #fff
            display inline-block
            &:hover
                background none
        .menu__link
            color #1f1f1f
            font-size 13px
            padding 5px 10px
            display block
            text-align left
            &:hover
                background #e6e3e3
    &__title
        font-size 13px
        font-weight 700
        margin 20px 0 5px 0
        color #2b519e !important
        padding 0 10px
    &__title&__link
        margin-top 15px
.big-menu
    // display grid
    // grid-template-columns 270px auto
    // display none
    // visibility hidden
    background #fff
    &_active
        // background #ddd
        .big-menu__mm
            &:hover
            &_active
                background #e6e3e3
                .big-menu__items
                    visibility visible !important
                    opacity 1 !important
            
    width 100%
    position relative
    &__menu
        border-right 1px solid #ddd
        width 270px
        height 100%
        padding 15px 0 
    &__mm
        padding 8px 10px
        margin-bottom 10px
        line-height 1.1em
        justify-content space-between
        color #1f1f1f
        font-size 14px
        cursor pointer
        display flex
        align-items center
    &__items
        display flex
        flex-wrap wrap
        margin 0 5px 10px 5px
        visibility hidden
        opacity 0
        position absolute
        top 0
        left 275px
        padding-top 10px
        cursor auto
        // width 880px
        // &_active
        //     visibility visible
    &__item
        box-sizing border-box
        word-wrap break-word
        margin-left 5px
        margin-right 5px
        width calc(25% - 10px)
        //padding 0
        //margin 0
        //width max-content
        //background #fff
        //display inline-block
        &:hover
            background none
    &__link
        color #1f1f1f
        font-size 13px
        padding 4px 10px !important
        display block
        text-align left
        margin-bottom 2px
        cursor pointer
        &:hover
            background #e6e3e3
    &__title
        font-size 13px
        font-weight 700
        margin 10px 0 5px 0
        color #2b519e
        padding 0 10px

// .menu__submenu_big
//     &:hover
//         .big-menu
//             background #ddd
//             &__mm_active
//                 color #f00
//                 .big-menu__items
//                     visibility visible
//                     opacity 1


.top-menu
    width 100%
    height 100%
    display none
    //justify-content center
    display flex
    align-items center
    justify-content center
    position relative
    &__wrapper
        position absolute
        width 100%
        height 100%
        overflow hidden
        &:before
        &:after
            content ''
            position absolute
            //background #fff
            height 80px
            width 300px
            top 0
            transform rotate(-65deg)
        &:before
            right calc(100% - 140px)
        &:after
            left calc(100% - 130px)

    &__item
        display inline-block
        margin 0 10px
        position relative
        padding 20px 0
        &:hover
            .top-menu__submenu
                visibility visible
                opacity 1
        .arrow
            margin 3px 0 0 6px
            display inline-block
    &__link
        display flex
        align-items center
        text-decoration none
        font-size 15px
        line-height 1.4em
        cursor pointer
        // padding 0 20px
        color #1c1c1c
        font-weight 600
        //padding 5px 0
        &:hover 
            color #2b519e
        // &_arrow
        //     position relative
        //     padding-right 15px
        //     &:after
        //         transition all .5s ease 0s
        //         content ""
        //         position absolute
        //         width 11px
        //         height 7px
        //         background url(../images/link-arrow.svg)
        //         background-size contain
        //         background-repeat no-repeat
        //         right 0
        //         top calc(50% - 3px)
    &__search-svg
        fill #1c1c1c
    &__search-btn
        margin-top 6px
        cursor pointer
        transition all 100ms 0ms
        &:hover
            .top-menu__search-svg
                fill #2b519e
    
    &__search
        position absolute
        opacity 0
        width 400px
        visibility hidden
        opacity 0
        transition transform 300ms 0ms, opacity 300ms 0ms, visibility 0ms 300ms
        top 50%
        transform translateY(50%)
        &_visible
            transform translateY(-50%)
            opacity 1
            visibility visible
            transition transform 300ms 0ms, opacity 300ms 0ms, visibility 0ms 0ms
    &__close
        z-index 10
        cursor pointer
        position absolute
        right 5px
        top 50%
        transform translateY(-50%)
        opacity .6
        display block
        border-radius 50%
        // box-shadow 0px 4px 10px 0px rgba(73, 73, 73, 0.4)
        width 30px
        height 30px
        //background #4274d6
        &:hover
            &:before
            &:after
                transition transform 600ms 0ms
            &:before
                transform rotate(135deg)
            &:after
                transform rotate(-135deg)
        &:before
        &:after
            transition transform 0ms 0ms
            content ''
            position absolute
            width 14px
            height 2px
            background #4d4d4d
            left calc(50% - 7px) 
            top calc(50% - 1px)
        &:before
            transform rotate(-45deg)
            //bottom -2px
        &:after
            transform rotate(45deg)
    
    &__items
        position relative
        top -20px
        visibility hidden
        opacity 0
        transition top 300ms 0ms, opacity 300ms 0ms, visibility 0ms 300ms
        &_visible
            top 0px
            opacity 1
            visibility visible
            transition top 300ms 0ms, opacity 300ms 0ms, visibility 0ms 0ms
    &__submenu
        &:before
            content ''
            position fixed
            height 0
            width 0
            border 6px solid transparent
            left 50%
            right auto
            transform translateX(-50%)
            border-bottom-color inherit
            bottom calc(100% + 1px)
        &:after
            content ''
            position absolute
            height 0
            width 0
            border 6px solid transparent
            left 50%
            right auto
            transform translateX(-50%)
            border-bottom-color #fff
            bottom 100%
            z-index 10
        z-index 100
        visibility hidden
        opacity 0
        transition .2s ease-out
        position absolute
        transform translateX(-50%)
        // bottom 10px
        left 50%
        top calc(100% - 10px)
        background #fff
        border 1px solid  rgb(232, 232, 232)
        box-shadow 0px 10px 15px 0px rgba(0, 0, 0, 0.14)
        padding 10px 0 
        .top-menu__item
            padding 5px 10px
            margin 0
            width 100%
            min-width 200px
            display block
            &:hover
                background #cacaca
        .top-menu__link
            color #1f1f1f
            font-size 13px

  
.hamburger
    @media (min-width 1160px)
        display none
        align-items center
        justify-content space-between
    width 24px
    height 16px
    position relative
    @media (min-width 390px)
        margin-right 20px
    &__plank
        position absolute
        width 100%
        height 2px
        background #2b519e
        transition all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s
        opacity 1
        &:nth-child(1)
            top 0px
        &:nth-child(2)
            transition all .2s ease 0s
            top 7px
        &:nth-child(3)
            top 14px
    &_open
        .hamburger__plank
            &:nth-child(1)
                top 7px
                transform rotate(-45deg)
            &:nth-child(2)
                opacity 0
            &:nth-child(3)
                top 7px
                transform rotate(45deg)
.logo
    // width 100%
    a
        text-decoration none
    flex-grow 1
    &__image
        margin 0 20px
        width 50px
        height 45px
        background-image url(../images/logo-mobile.png)
        @media (min-width 390px)
            width 77px
            height 70px
            margin 0 20px 0 0 
            background-image url(../images/logo.png)
        background-repeat no-repeat
        background-size contain
        margin-right 15px
        float left
    &__description
        display none
        @media (min-width 530px)
            display block
        width 100%
        font-size 16px
        color #2f2f2f
        line-height 1.3em
        padding-top 14px
        font-weight 600

.phone
    display block
    width max-content
    &__wrap
        display flex
        align-items center
    //margin-bottom 10px
    &__description
        font-size 11px
        color #272727
        line-height 1.1em
        margin-bottom 6px
        text-align right
        display none
        width 100%
        font-weight 600
        @media (min-width 390px)
            display block
    &__icon
        width 22px
        height 22px
        background-image url(../images/phone.svg)
        background-repeat no-repeat
        background-size contain
        margin -1px 10px 0 0
        @media (min-width 390px)
            margin 0 10px 0 0
    &__text
        display inline-block
        color #000
        font-size 16px
        line-height 1em 
        font-weight 700
        @media (min-width 390px)
            font-size 18px
.maps
    display none
    margin-top 5px
    @media (min-width 390px)
        // display flex
        // //justify-content flex-end
        // //justify-content center
        // align-items center
        display block
    &__wrap
        display flex
        align-items center
    &__icon
        width 23px
        height 23px
        background-image url(../images/maps.svg)
        background-repeat no-repeat
        background-size contain
        margin 0px 10px 0 0
    &__text
        display inline-block
        color #000
        font-size 14px
        line-height 1.25em
        font-weight 600
.email
    display none
    margin 8px 0 5px 0
    @media (min-width 390px)
        // display flex
        // //justify-content flex-end
        // //justify-content center
        // align-items center
        display block
    &__wrap
        display flex
        align-items center
    &__icon
        width 22px
        height 22px
        background-image url(../images/input_type_email.png)
        background-repeat no-repeat
        background-size contain
        margin 1px 10px 0 0
    &__text
        display inline-block
        color #000
        font-size 15px
        line-height 1.25em
        font-weight 600

.offer
    width 100%
    //height 400px
    padding 0
    background-color #7886ef 
    background-image url(../images/offer.jpg) 
    background-repeat no-repeat
    background-position center
    background-size cover
    box-shadow inset 0px 4px 20px 0px rgba(0, 0, 0, 0.2)
    &__wrapper
        padding-top 40px !important
        padding-bottom 40px !important
        display flex
        align-items center
        justify-content center
        flex-direction column
        height 100%
        @media (min-width 500px)
            align-items flex-start
    &__title
        font-size 24px
        line-height 1.2em
        color #fff 
        font-weight 700
        text-shadow 0px 0px 10px rgba(60, 60, 60, 0.4)
        @media (min-width 700px)
            font-size 37px
    &__description
        font-size 20px
        line-height 1.2em
        color #fff 
        font-weight 300
        margin-top 20px
        text-shadow 0px 0px 10px rgba(60, 60, 60, 0.3)
        @media (min-width 700px)
            font-size 30px
    .breadcrumbs
        background rgba(85, 97, 120, 0.23) !important
        margin-bottom 0 !important
    &__btn
        margin-top 30px
.btn
    font-size 16px
    padding 1em 1.2em
    border-radius 4px
    position relative
    user-select none
    overflow hidden
    cursor pointer
    display inline-block
    outline none
    transition all .1s ease 0s
    top 0
    &__text
        font-size 1em
        line-height 1.2em
        position relative
        z-index 10
        font-weight 600
        transition-delay 2ms
        text-align center
    &:after
        content ""
        position absolute
        height 0%
        left 50%
        top 50%
        width 0
        border-radius 50%
        opacity 0
        transition all .8s ease 0s
        transform translateX(-50%) translateY(-50%)
        z-index 5
    &:hover
        &:after
            height 450%
            width 200%
            opacity 1    
        .btn__text
            color #fff
    &:active
        //transform scale(1.02)
        top 0.08em
    &_view
        &_action
            border 2px solid #f95555
            background #f95555
            width 100%
            .btn__text
                color #fff
            &:after
                background #fff
            &:hover
                .btn__text
                    color #f95555            
        &_pseudo
            border 2px solid #4273d6
            background none
            .btn__text
                color #4273d6
            &:after
                background #4273d6
            &:hover
                .btn__text
                    color #fff
        &_light
            background rgba(0, 0, 0, 0.1)
            border 2px solid #fff
            .btn__text
                color #fff
            &:after
                background #fff
            &:hover
                .btn__text
                    color #000
.content
    // padding-top 20px
    font-size 14px
    line-height 1.6em
    color #121212
    section
        margin-bottom 1em
        @media (min-width 700px)
            margin-bottom 2em
    h1
    h2
    h3
    h4
        margin 0.67em 0
        color #1f1f1f
    h1
        font-size 1.884em
    h2
        font-size 1.4em
    h3
        font-size 1.21em
    h4
        font-size 1.11em
    p
        line-height 1.692em
        font-size 1em
        margin-bottom .9em

    a
        color #2e64d0
        text-decoration underline
        cursor pointer
        &:visited
            color #52346c
        // &:active
    b
        font-weight 800
    img 
        margin-bottom 1em
        border-radius 4px
        width auto
        max-width 100%
    blockquote
        border-left 4px solid #4273d6
        padding-left 16px
        line-height 1.5em
        margin-bottom 1em
    hr
        width 100%
        height 1px 
        margin 15px 0
        background #e5e6f2

ul.list
    //padding-left 10px
    margin-bottom 1em
    li
        padding-left 1.714em
        list-style-type none
        background  url(../images/list-item.svg) 0.14em  0.143em no-repeat
        background-size 1.35em 
        margin-bottom 1em
        line-height 1.5

    &_type
        &_check
            li
                padding-left 1.714em
                list-style-type none
                background  url(../images/list-item-check.svg) left top no-repeat
                background-size 1.62em 

.breadcrumbs
    width 100%
    //border-bottom 1px solid #ddd
    margin-bottom 20px
    background #6f7dd4
   
    padding 10px 0 
    &__wrapper
        display flex
        flex-direction row
        align-items center
        flex-wrap wrap
        //margin 20px auto
    &__item
        font-size 12px
        line-height 1.1em
        display inline-block
        cursor pointer
        margin 2px 0px 2px 20px
        color #fff
        width max-content
        position relative
        &:before
            content ""
            position absolute
            width 1px
            height 14px
            background #fff
            transform rotate(25deg)
            top calc(50% - 7px);
            left -10px
        &:first-child
            &:before
                display none
        &_active
            color #c9cce0
            cursor auto
        @media (min-width 500px)
            font-size 13px
    &__home
        width 12px
        height 15px
        background-image url(../images/breadcrumbs__home.png)
        background-size contain
        background-repeat no-repeat
        background-position center 2px
        display inline-block
        margin-left -12px
        @media (min-width 1200px)
            margin-left 0px 
        //margin -1px 8px 0 0
    // &__separator
    //     position relative
    //     width 10px
    //     height 14px
    //     display inline-block
    //     //&:after
    //     &:before
    //         content ""
    //         position absolute
    //         width 1px
    //         height 14px
    //         background #fff
    //         transform rotate(25deg)
    //         top 0
    //         left 50%
        // &:after
        //     transform rotate(38deg)
        //     top 0
        // &:before
        //     transform rotate(-38deg)
        //     bottom 0

.footer
    background #e7e7e7
    padding 20px 0
    // &__icon
    //     margin-right 10px
    &__title
        font-size 16px
        line-height 1.2em
        color #4b4b4b
        font-weight 600
    &__link
        font-size 14px
        line-height 1.2em
        color #4b4b4b
        cursor pointer
        display inline-block

.copyright
    background #545358
    padding 15px 0 10px 0
    &__icons
        display flex
        align-items center
        margin 0px 10px 5px 0px
        // height 100%
    &__text
        color #ffffff
        font-size 13px
        line-height 1.3em
        display inline-block
        
    img
        margin-right 10px
    @media (min-width 550px)
        .container
            display flex
            //align-items center


.nav
    transition all .8s ease 0s
    background #f7f7f7
    position fixed
    top 0
    left -100%
    height 100%
    overflow-y scroll
    width 100%
    z-index 200
    padding 100px 0
    &_active
        left 0px
    &__header
        padding 10px 20px
        width 100%
        display flex
        align-items center
        justify-content space-between
    &__back
        flex-grow 1

    &__title
        font-size 20px
        line-height 1.5em

.mobile-menu
    a
        text-decoration none
    .arrow
        margin-left 5px
    //padding 20px 0
    &__item
        border-top 1px solid #d5d5d5
        padding 10px 0
        transition all .6s ease 0s
        background #f7f7f7
        &_active
            background #fff
            .mobile-menu__submenu
                display block
                opacity 1
            .mobile-menu__link
                color #000
                &:after
                    transform rotate(180deg)!important
        &:last-child
            border-bottom 1px solid #d5d5d5
    &__search
        padding 20px
    &__submenu
        display none
        opacity 0
        transition opacity .54s ease 0s
    &__link
        font-size 16px
        line-height 1.4em
        padding 0 20px
        color #171717
        &_arrow
            display flex
            position relative
            align-items center
            justify-content space-between
            // &:after
            //     transition all .5s ease 0s
            //     content ""
            //     position absolute
            //     width 11px
            //     height 7px
            //     background url(../images/link-arrow.svg)
            //     background-size contain
            //     background-repeat no-repeat
            //     right 20px
            //     top calc(50% - 3px)
    
.mobile-submenu
    .arrow
        margin-left 5px
    & &
        margin-bottom -10px
        .mobile-submenu__item
            padding 5px 0
            border-left 2px solid #2e64d0
            //border-bottom 1px dashed #efeaea
            border-top none
            background #f0f0f0
            margin 0 0 0 20px
            &:first-child
                padding-top 8px
            &:last-child
                border-bottom none
                padding-bottom 8px
        .mobile-submenu__link
            padding 0 10px
    padding 10px 0 0 0 
    &__item
        border-top 1px dashed #d5d5d5
        padding 10px 0
        transition all .6s ease 0s
        //background #f0f0f0
        &_active
            //background #fff
            .mobile-submenu__submenu
                display block
                opacity 1
            // .mobile-submenu__link
            //     &:after
            //         transform rotate(180deg)!important
        &:last-child
            padding-bottom 0
    &__submenu
        display none
        opacity 0
        transition opacity .54s ease 0s
    &__link
        font-size 14px
        color #171717
        padding 0 20px
        display inline-block
        &_arrow
            display flex
            position relative
            align-items center
            justify-content space-between
            // &:after
            //     transition all .5s ease 0s
            //     content ""
            //     position absolute
            //     width 11px
            //     height 7px
            //     background url(../images/link-arrow.svg)
            //     background-size contain
            //     background-repeat no-repeat
            //     right 20px
            //     top calc(50% - 3px)

// .icon-close
//     width 20px
//     height 20px
//     background url(../images/icon-close.svg)
//     background-size contain
//     background-repeat no-repeat

.search
    font-size 14px
    // max-width 300px
    &__box
        padding 0.711em 2.2em 0.711em 2.5em
        border 1px solid #d5daef
        border-radius 50px
        width 100%
        position relative
        transition all .2s ease 0s
        background #fff 
    &__icon
        position absolute
        top 50%
        left 12px
        transform translateY(-50%)
        opacity .6
        width 15px
        height 14px
        background url(../images/search.svg) center no-repeat 
    &__control
        width 100%
        font-size 1.1em
        line-height 1.1em
        color #787878
        outline none
        position relative
        z-index 100
        background none
        +placeholder()
            color #787878

.input
    font-size 18px
    // padding-top 0.52em
    margin-bottom 1em
    // max-width 400px
    min-width 240px
    width 100%
    &_error
        .input__message
            color #f95555 !important
        .input__top-border
        .input__box
            &:before
            &:after
                border-color #f95555 !important
            border-color #f95555 !important
            .input__control
                background url(../images/input-error.svg) no-repeat center right .01em
                background-size .7em
    &_ok .input__control
            background url(../images/input-ok.svg) no-repeat center right .01em
            background-size .75em
    &__top-border 
        position absolute
        right 10px
        top -1px
        border-top 2px solid
        border-top-color #d6dcf5
        transition all .2s ease 0s //transition border-color .13s ease-in,width 0s .1s;
        width calc(100% - 20px)
    &__box
        // box-shadow 0 2px 11px -4px rgba(0, 0, 0, 0.2)
        // background-color #fff
        padding 0.556em 0.5em 0.556em 0.833em
        border 2px solid #d6dcf5
        border-top 0
        border-radius 4px
        width 100%
        position relative
        transition all .2s ease 0s
        &:before
        &:after
            transition all .2s ease 0s
            content ''
            display block
            position absolute
            box-sizing border-box
            top -1px
            width 11px
            height 8px
            border-top 2px solid
            border-top-color #d6dcf5
        &:before
            left -1px
            border-top-left-radius 4px
        &:after
            right -1px
            border-top-right-radius 4px
        &_focus
            .input__top-border
            &:before
            &:after
                border-color #84aeff
            border-color #84aeff
        &_filled
        &_focus
            .input__title
                top - 0.5em
                left 1.11em !important
                font-size 0.778em
                //transform scale(0.778) 
    &__message
        font-size 0.69em
        color #696969
        line-height 1em
        min-height 1em
        padding-top 5px
    &__control
    &__text
        cursor pointer
        width 100%
        font-size 1em
        line-height 1em
        height 1.278em
        color #5a5a5a
        outline none
        position relative
        z-index 100
        background none
        padding-right 1.3em
    &__text
        position relative
        padding-left 1em
        line-height 1.2em
        height auto
        min-height 0
        &:after
            content '-'
            color #fff
    &__title
        transition all .2s ease 0s
        color #444
        font-size 1em
        line-height 1em
        position absolute
        top calc(50% - 0.5em)
        left 0.833em
    // &__icon
    //     width 20px
    //     height 20px 
    //     background #ddd
    &_select_open
        &:before
            transform rotate(-50deg) !important
        &:after
            transform rotate(50deg) !important
        .input__text
            min-height 
    &_type
        &_name
        &_email
        &_phone
            .input__box
                padding-left 2.2em
                background-position left 0.556em center 
                background-repeat no-repeat
                background-size 1em 
            .input__title
                left 2em
            // &__control
            // &__title
        &_name
            .input__box
                background-image url(../images/input_type_name.png)
        &_phone
            .input__box
                background-image url(../images/input_type_phone.png)
        &_email
            .input__box
                background-image url(../images/input_type_email.png)
        &_select
            position relative
            &:before
            &:after
                transition all .5s ease 0s
                content ''
                position absolute
                width 12px
                height 2px
                background #84aeff
                border-radius 4px
                top 1.15em
            &:before
                transform rotate(-130deg)
                right 0.87em
            &:after
                transform rotate(130deg)
                right 0.5em

            .input__box
                padding-left 0
            .input__items
                display none
                padding-left 0.5em
            .input__item
                &:last-child
                    border none 
                font-size 1em
                padding .3em .82em
                line-height 1.2em
                cursor pointer
                color #5a5a5a
                border-bottom 1px dotted #ddd
                &_active
                    position relative
                    &:before
                        content: '';
                        width 0.6em
                        height 0.34em
                        position absolute
                        top 0.6em;
                        left 0
                        border 1px solid #fff
                        border-top none
                        border-right none
                        background transparent
                        transform rotate(-45deg)
                        border-left 2px solid #5784e0
                        border-bottom 2px solid #5784e0
            .input__control
                // display none
                visibility hidden
                position absolute
                left -99999999px
                height 0
                width 0



.arrow
    position relative
    width 12px
    height 12px
    &:before
    &:after
        transition all .5s ease 0s
        content ''
        position absolute
        width 8px
        height 1px
        background #2b519e
    &_theme_
        &light
            &:before
            &:after
                background #fff
    &_top
        &:before
            transform rotate(-45deg)
            right 4px
            top 6px
        &:after
            transform rotate(45deg)
            left 5px
            top 6px
    &_right
        &:before
            transform rotate(45deg)
            top 3px
            left 2px
        &:after
            transform rotate(-45deg)
            top 8px
            left 2px
    &_left
        &:before
            transform rotate(-45deg)
            top 3px
            left 2px
        &:after
            transform rotate(45deg)
            top 8px
            left 2px
    &_bottom
        &:before
            transform rotate(-135deg)
            right 4px
            top 6px
        &:after
            transform rotate(135deg)
            left 5px
            top 6px

.reviews
    border-radius 5px
    background-image linear-gradient( 45deg, rgba(214,227,254,.4) 0%, rgba(201,199,199,.4) 78%, rgba(213,213,213,.4) 100%)
    padding 20px 0
    position relative
    margin-bottom 30px
    &__title
        color #3d3d3d
        font-weight 600
        font-size 20px
        line-height 1.3em
        text-align center
        padding 0 10px
        margin-bottom 30px
        @media (min-width 700px)
            font-size 22px
    &__items
        position relative
    &__item
        text-align center
        padding 0 20px
        @media (min-width 1000px)
            padding 0 40px
        @media (min-width 700px)
            display flex
            align-items flex-start
            padding-bottom 50px !important
    &__person
        @media (min-width 700px)
            margin-right 40px
    &__avatar
        border-radius 100% !important
        width 130px !important
        height 130px !important
        max-width 130px !important
    &__name
        color #52475b
        line-height 1em
        font-size 16px 
        font-weight 600
        margin-bottom 5px
        @media (min-width 700px)
            font-size 18px
    &__links
        margin 10px 0 0 0
        img 
            width 25px
    &__description
        font-size 17px
        line-height 1.45em
        margin 0 0 10px 0
        font-weight 600
    &__text
        font-size 14px
        line-height 1.45em
        color #363636
        text-align left
        position relative
        @media (min-width 700px)
            padding 10px 70px 20px 70px 
            font-size 16px 
            &:before
            &:after
                content ''
                position absolute
                width 51px 
                height 41px
                background-repeat no-repeat
                background-size contain
            &:before
                background-image url(../images/quote-before.svg)
                top 0
                left 0
            &:after
                background-image url(../images/quote-after.svg)
                right 0
                bottom 0             
.bx-wrapper
    position relative

// .cases__next
// .cases__prev
.bx-prev
.bx-next
    position absolute
    border-radius 5px
    background #fff
    box-shadow 0px 1px 4px 0px rgba(151, 147, 147, 0.5)
    width 40px 
    height 40px
    top 110px
    @media (min-width 700px)
        top auto
        bottom -10px
    &:before
    &:after
        content ''
        position absolute
        width 18px
        height 2px
        background #4274d6
.bx-prev
    left -15px
    @media (min-width 700px)
        left auto 
        right 58px
    &:before
        transform rotate(-45deg)
        top 13px
        left 10px
    &:after
        transform rotate(45deg)
        top 25px
        left 10px
.bx-next
    right -15px
    @media (min-width 700px)
        right 10px
    &:before
        transform rotate(45deg)
        top 13px
        right 10px
    &:after
        transform rotate(-45deg)
        top 25px
        right 10px

.stages
    margin 80px 0
    &__header
        color #3d3d3d
        font-size 20px
        font-weight 600
        margin-bottom 30px
        text-align center
        @media (min-width 600px)
            font-size 24px
    &__btn
        width auto
        display inline-block
        margin-top 10px
    &__item
        display grid
        grid-template-areas 'image title' 'text text' 'line line'
        grid-template-columns 75px calc(100% - 75px)
        @media (min-width 600px)
            grid-template-areas 'image title' 'image text' 'line line'
            grid-template-columns 175px calc(100% - 175px)
            .stages__line
                margin 10px 0 10px 79px


        &:last-child>.stages__line
            display none

        @media (min-width 900px)
            &:last-child>.stages__line
                display block
            &:first-child>.stages__line
                display none
           
            &:nth-child(odd)
                grid-template-areas 'image title line' 'image text line'
                grid-template-columns 175px calc(50% - 175px) 50%
                .stages__line
                    background url(../images/stages__line.png) no-repeat right
                    width 50%
                    height 62px
                    margin 25px 0 0 20px
            &:nth-child(even)
                grid-template-areas 'line image title' 'line image text' 
                grid-template-columns 50% 175px calc(50% - 175px)
                .stages__line
                    background url(../images/stages__line.png) no-repeat left
                    width 50%
                    height 62px
                    margin 25px 0 0 calc(50% - 20px) 

    &__image
        width 65px
        height 65px
        // background #eee
        grid-area image
        position relative
        // padding 5px
        &:before
        &:after
            content ''
            position absolute
        &:before   
            width 80%
            height 80%
            left 10%
            top 10%
            background #eee
            border-radius 100%
        &:after
            width 40%
            height 40%
            right 10%
            bottom 10%
            background rgba(197, 197, 197, 0.2)
            border-radius 100% 1px
        img
            position relative 
            z-index 10
            width auto
            max-width 80%
        @media (min-width 600px)
            img
                max-width 100%
            width 160px
            height 160px
    &__title
        font-size 17px
        line-height 1.3em
        color #335dae
        font-weight 600
        grid-area title
        display flex
        align-items center
        @media (min-width 600px)
            font-size 20px
    &__text
        font-size 13px
        line-height 1.4em
        color #262626
        grid-area text
        padding-top 10px
        @media (min-width 600px)
            font-size 14px
            padding-top 0
    &__line
        grid-area line
        background url(../images/stages__line_m.png)
        width 2px
        height 45px
        margin 10px 0 10px 30px


.deadlines
    margin 80px 0 50px 0
    &__header
        color #3d3d3d
        font-size 20px
        font-weight 600
        margin-bottom 50px
        text-align center
        @media (min-width 600px)
            font-size 24px
        @media (min-width 900px) 
            margin-bottom 30px
    &__wrapper
        position relative
        display table
        margin 0 auto
        @media (min-width 900px)
            // width 100%
            &:after
                content ''
                position absolute
                background #aabfe7
                height 100%
                width 4px
                border-radius 2px
                top 0
                left calc(50% - 2px)
    &__item
        position relative
        margin-bottom 50px
        &:last-child
            margin-bottom 0px
        @media (min-width 900px)
            display grid
            grid-template-columns 420px 50px 420px
            align-items center
            .deadlines__time
                height 50px
                line-height 50px
                position relative
            &:nth-child(odd)
                grid-template-areas 'body stage time'
                .deadlines__time
                    padding 0 20px 0 40px
                    left -10px
            &:nth-child(even)
                grid-template-areas 'time stage body'
                .deadlines__time
                    padding 0 40px 0 20px
                    right -10px
                .deadlines__time-wrapper
                    display flex
                    flex-direction row-reverse    
    &__title
        font-size 20px
        text-align center
        line-height 1.3em
        margin-bottom 10px
        margin-top 20px
        @media (min-width 900px)
            margin-top 0
    &__text
        font-size 14px
        line-height 1.4em
    &__body 
        border-radius 4px 4px 0 0 
        //background linear-gradient( 45deg, rgb(213,213,213) 0%, rgb(201,199,199) 22%, rgb(214,227,254) 100%)
        background linear-gradient( 45deg, rgba(213,213,213,.4) 0%, rgba(201,199,199,.4) 78%, rgba(214,227,254,.4) 100%)
        grid-area body
        max-width 420px
        padding 20px
        @media (min-width 900px)
            border-radius 4px
    &__number
        font-size 13px
        line-height 1em
        font-weight 600
        text-align center
        @media (min-width 900px)
                font-size 14px
                line-height 1.2em
        span
            font-size 16px
            display block
            @media (min-width 900px)
                font-size 24px
        margin auto
    &__stage
        width 44px
        height 44px
        grid-area stage
        // 70
        //border 3px solid #aabfe7
        background #fff
        //border 6px solid #fff
        box-shadow 0 0 0px 3px #aabfe7, 0 0 0px 9px #fff
        border-radius 50%
        display flex
        align-items center
        top -25px
        left calc(50% - 22px)
        position absolute
        z-index 10
        @media (min-width 900px)
            box-shadow 0 0 0px 4px #aabfe7, 0 0 0px 10px #fff
            position relative
            top auto
            left auto
            width 50px
            height 50px
    &__time
        font-size 16px
        color #fff
        padding 10px 20px
        border-radius 0 0 4px 4px 
        background #3059ab
        text-align center
        @media (min-width 900px)
            border-radius 4px
            width max-content
    
    .time-wrapper
        grid-area time


.articles
    margin-top 30px
    a
        text-decoration none
    row-flex()
    margin-bottom 30px
    &__item
        margin-bottom 40px
        cursor pointer
        col()
        size(12)
        @media (min-width 600px)
            size(6)
        @media (min-width 880px)
            size(4)
    &__box
        position relative
        width 100%
        border solid 1px solid #f4f4f4;
        border-radius 4px
        background #fff
        box-shadow 0px 5px 20px 0px rgba(92, 92, 92, 0.1)
        //width: 336px
        transition all .4s ease 0s
        top 0
        &:hover
            box-shadow 0px 5px 20px 0px rgba(92, 92, 92, 0.3)
            top -10px
    &__content
        padding 0 20px 20px 20px
        line-height 1.4em
        color #000
    &__date
        font-size 14px
        color #656565
        margin-bottom 20px
    &__title
        font-size 16px
        margin-bottom 20px
    &__description
        font-size 15px
        font-weight 300
        margin-bottom 20px
    &__more
        display flex
        flex-direction row-reverse
    &__img
        width 100%
        max-width 100%
        height auto
        border-radius 4px 4px 0 0 !important 
        margin-bottom 10px

.more
    display inline-block
    color #656565
    border 1px solid #bebec0
    border-radius 4px 
    padding 2px 10px 2px 8px
    font-size 13px
    display flex
    align-items center
    cursor pointer
    transition all .5s ease 0s
    &__arrow
        width 20px
        height 1px 
        background #bebec0
        position relative
        margin-left 8px
        transition all .4s ease 0s, background .1s ease 0s
        right 0px
        &:before
        &:after
            content ''
            position absolute
            width 6px
            height 1px
            background #bebec0
            right 0px
        &:before
            transform rotate(-45deg)
            bottom -2px
        &:after
            transform rotate(45deg)
            top -2px
    &:hover
        color #5786e6
        border 1px solid #5786e6
        .more__arrow
            width 25px
            right -5px
            margin-left 3px
            &
            &:before
            &:after
                background #5786e6

.form-box //600px
    // padding 20px
    //background #ddd
    
    margin 50px 0
    @media (min-width 360px)
        padding 0  10px 
    &__description
        font-size 14px
        line-height 1.3em
        color #555
    &__label
        font-size 18px
        line-height 1.3em
        color #000
        border-width 600
        margin-bottom 10px
    &__wrapper
        box-shadow 0 5px 20px 0px #dadada
        @media (min-width 360px)
            border-radius 10px
            box-shadow 0 6px 20px 0px #d0d0d0
        //display table
        // box-shadow 0px 4px 20px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 2px rgba(195, 195, 195, 0.09)
        // background #fdfdfd
        // padding 40px
        width 100%
        // @media (min-width 600px)
        max-width 600px
        margin auto
        //box-shadow 0 3px 20px 0px rgba(0, 0, 0, 0.1), 0 3px 20px 0px rgba(0, 0, 0, 0.1)
        // border-radius 20px
        //overflow hidden
        // @media (min-width 500px)
        //     border 1px solid #959595
        //     border-radius 4px
        //     padding 50px 15px 20px 15px
        //     position relative
    &__items
        padding 20px 
        border-bottom 1px solid #ddd
        @media (min-width 360px)
            border 1px solid #ddd
            border-top none
            border-radius 0 0 8px 8px 
        @media (min-width 600px)
            padding 20px 80px 5px 80px
    &__item
        margin-bottom 25px
        width auto
        // max-width 1
        .btn
            margin auto
            display block
    &__header
        padding 20px 10px
        background #ddd
        border-radius 8px 8px 0 0
        @media (min-width 600px)
            padding 20px 80px 20px 80px
    &__title
        font-size 22px
        line-height 1em
        text-align center
        color #3d3d3d
        font-weight 400
        margin-bottom 12px
        



.modal
    position fixed
    left 0
    top 0
    height 100%
    width 100%
    // opacity 0
    visibility hidden
    z-index 9999
    transition visibility 0ms 300ms
    &__row
        margin-bottom 30px
    &__wrapper
        display flex
        overflow auto
        align-items center
        justify-content center
        //white-space nowrap
        padding 30px 0
        position absolute
        left 0
        top 0
        height 100%
        width 100%
        z-index 1000
        transition opacity 300ms 0ms, visibility 0ms 300ms
        opacity 0
        visibility hidden
        background-color rgba(185, 185, 185, 0.56)
        
    &::after
        display inline-block
        vertical-align middle
        width 0
        height 100%
        content ''

    &_visible
        // opacity 1
        visibility visible

    &__dialog
        //display inline-table
        vertical-align middle
        z-index 100
        margin auto
        transition transform 300ms 0ms
        transform translateY(-10px)
        width calc(100% - 22px)
        max-width 450px
        // min-width 300px
        position relative
        background #fff
        border-radius 4px
        padding 30px 30px 40px 30px
        height auto
        box-shadow 0px 4px 10px 0px rgba(73, 73, 73, 0.4)
        &
            img
                max-width 100%
            
    &_type
        &_zoom
            .modal__dialog
                background #fff
                width auto
                max-width 90%
                min-width 300px
                padding 15px
                line-height 0
                //margin 40px auto
        &_quiz
            .modal__dialog
                background #fff
                // width auto
                max-width 1200px
                min-width 300px
                padding 15px
                line-height 0
                .input
                    max-width 500px
                        
    &__title
        font-size 18px
        line-height 1.7em
        text-align center
        color #010101
        margin-bottom 30px
        margin-top 10px

    &__close
        cursor pointer
        position absolute
        right -10px
        top -15px
        display block
        border-radius 50%
        box-shadow 0px 4px 10px 0px rgba(73, 73, 73, 0.4)
        width 30px
        height 30px
        background #4274d6
        &:hover
            &:before
            &:after
                transition transform 600ms 0ms
            &:before
                transform rotate(135deg)
            &:after
                transform rotate(-135deg)
        &:before
        &:after
            transition transform 0ms 0ms
            content ''
            position absolute
            width 15px
            height 2px
            background #fff
            left calc(50% - 7px) 
            top calc(50% - 1px)
        &:before
            transform rotate(-45deg)
            //bottom -2px
        &:after
            transform rotate(45deg)
            //top -2px
    &.modal_visible
        .modal__wrapper
            transition opacity 300ms 0ms, visibility 0ms 0ms
            opacity 1
            visibility visible
        .modal__dialog
            transition transform 300ms 0ms
            transform translateY(0)

.menu-open
    overflow hidden

.modal-open
    overflow hidden
    .page__main
        filter blur(3px)
        
.main
    // transition filter 10ms
    // transition-delay 10ms
    position relative
    filter none
    transition filter 300ms 0ms
    &_blur
        filter blur(3px)
        //box-shadow inset 0 0 6px #ddd 
        //&:before //.fixed_blur
            //transition opacity 100ms 0ms, visibility 0ms 200ms
            // opacity 1
            // visibility visible

.fixed_blur
    overflow auto
    position fixed
    // content ''
    height 100%
    width 200%
    z-index 1
    //left 50%
    top 0
    transform translateX(-50%)
    transition opacity 300ms 0ms, visibility 0ms 300ms
    opacity 0
    visibility hidden
    background-color rgba(185,185,185,0.4)
    &_visible
        opacity 1
        visibility visible
        transition opacity 300ms 0ms, visibility 0ms 0ms


.checkbox
    font-size 16px
    // position relative
    // display inline-block
    &_error
        .checkbox__box
            border 2px solid #f95555 !important
    &__item
        display flex
        align-items center 
        flex-wrap wrap
        cursor pointer
        // width max-content
        margin-bottom 0.6em
        &:hover
            .checkbox__box
                border 2px solid #2b519e
    &__control
        visibility hidden
        width 0
        height 0
        position absolute
        &:checked + .checkbox__box
            background #2b519e
            border 2px solid #2b519e
            &:before 
                transform rotate(-45deg)
    
    &__text
        font-size 1em
        line-height 1.2em
        width calc(100% - 2.1em)
    &__box
        width 1.5em
        height 1.5em
        background #fff
        border 2px solid #5784e0
        border-radius 4px
        margin-right 0.6em
        position relative
        transition all 200ms 0ms
        // 
        &:before
            content ''
            width 0.874em
            height 0.5em
            position absolute
            top calc(50% - 0.44em)
            left calc(50% - 0.38em)
            border 2px solid #fff
            border-top none
            border-right none
            background transparent 
            transform rotate(-20deg)
            transition all 130ms 30ms
    &_theme_light
        display flex
        align-items center 
        justify-content center
        .checkbox__item 
            margin-bottom 0px
        &:hover
            .checkbox__box
                border 2px solid #838383 
        .checkbox__box
            border 2px solid #adadad  
        .checkbox__control
            &:checked + .checkbox__box
                background #fff
                border 2px solid #838383
                &:before
                    left calc(50% - 0.39em) 
                    transform rotate(-45deg)
                    border-left 2px solid #838383
                    border-bottom 2px solid #838383
        .checkbox__text
            color #838383
        .checkbox__link
            margin-left 0.08em
            color #838383 !important
            font-size 1em
            line-height 1.2em
            display inline
            text-decoration: underline
.radio
    font-size 16px
    // position relative
    // display inline-block
    // margin-bottom 0.6em
    &_type
        &_img
            .radio__item
                position relative
                align-items end 
                overflow hidden
                border-radius 4px
                border 2px solid #eee
                padding 10px
                transition all 50ms 0ms
                &:hover
                  border 2px solid #e9e9e9 
            .radio__img
                //border-bottom 1px solid #ddd
                margin -10px -10px 5px -10px
            .radio__box
                position absolute
                right 0
    &_row
        display flex
        flex-wrap wrap
        .radio__item
            margin-right 1.6em
            &:last-child
                margin-right 0
    &_error
        .radio__box
            border 2px solid #f95555 !important
    &__item
        display flex
        align-items center 
        flex-wrap wrap
        cursor pointer
        //width max-content
        margin-bottom 0.6em
        &:hover
            .radio__box
                border 2px solid #2b519e
    &__control
        visibility hidden
        width 0
        height 0
        position absolute
        &:checked + .radio__box
            // background #2b519e
            border 2px solid #2b519e
            &:before
                transform scale(1.3)
                background #2b519e
    
    &__text
        font-size 1em
        line-height 1.2em
        width calc(100% - 2.1em)
    &__box
        width 1.5em
        height 1.5em
        background #fff
        border 2px solid #5784e0
        border-radius 50%
        margin-right 0.6em
        position relative
        transition all 200ms 0ms
        // 
        &:before
            content ''
            width 0.5em
            height 0.5em
            position absolute
            top calc(50% - 0.25em)
            left calc(50% - 0.25em)
            border-radius 50%
            background #fff
            transition all 200ms 50ms
        
.services       
    margin-bottom 30px
    &__items
        row-flex()
    &__item
        position relative
        cursor pointer
        display flex
        align-items center
        // justify-content center
        padding 10px 35px 10px 15px
        margin-bottom 20px
        background #fff
        col()
        // size(3)
        border 2px dotted #ddd
        border-radius 4px
        size(12)
        @media (min-width 360px)
            size(6)
        @media (min-width 700px)
            size(4)
        @media (min-width 1000px)
            size(3)
        transition transform 100ms 0ms, background 200ms 0ms, border 200ms 50ms
        overflow hidden
        &:after
            content ""
            position absolute
            height 0%
            left 50%
            top 50%
            width 0
            border-radius 50%
            opacity 0
            transition all .8s ease 0s
            transform translateX(-50%) translateY(-50%)
            z-index 5
            background #5786e6
        &:hover
            &:after
                height 500%
                width 250%
                opacity 1    
            .services__title
                color #fff
            // background #f5f5f5
            border 2px solid #5786e6
            // .services__title
            //     transform scale(0.92)
            .services__arrow
                z-index 10
                width 25px
                right 5px
                margin-left 3px
                &
                &:before
                &:after
                    background #fff
                    transition all 250ms ease 50ms, background 100ms ease 10ms
    &__title
        position relative
        z-index 10
        font-size 13px
        @media (min-width 700px)
            font-size 16px
        font-weight 500
        line-height 1.3em
        color #222
        // text-align center 
    &__arrow
        position absolute
        width 15px
        height 2px 
        background #bebec0
        // position relative
        margin-left 8px
        transition all 250ms ease 100ms, background 100ms ease 50ms
        right 15px
        top 50%
        &:before
        &:after
            content ''
            position absolute
            width 6px
            height 2px
            background #bebec0
            right 0px
        &:before
            transform rotate(-45deg)
            bottom -2px
        &:after
            transform rotate(45deg)
            top -2px

.cases
    width 100%
    margin-bottom 40px
    &__wrapper
        position relative
        .bx-prev
        .bx-next
            top 50%
            transform translateY(-50%)
            @media (min-width 700px)
                top auto
                bottom 10px
                transform none
        // .bx-prev
        //     left -5px
        // .bx-next
        //     right -5px
           
    &__items
        display flex
        flex-wrap wrap
    &__item
        overflow hidden
        border-radius 4px
        //max-width 1160px
        background-image url(../images/cases__item.png), linear-gradient( 107deg, rgba(214,227,254,.3) 0%, rgba(201,199,199,.3) 78%, rgba(213,213,213,.3) 100%)
        margin 0
        //border-radius 5px
        @media (min-width 700px)
            //width 100%
            display grid
            grid-template-areas 'body image'
            grid-template-columns 70% 30%
            // &:nth-child(2n)
            //     grid-template-areas 'image body'
            //     grid-template-columns 30% 70%
    &__body
        padding 20px 35px
        @media (min-width 700px)
            padding 20px
        grid-area body
    &__title
        font-size 20px
        line-height 1.2em
        color #000
        margin-bottom 20px
    &__texts
        @media (min-width 900px)
            display flex
    &__text
        font-size 14px
        line-height 1.4em
        margin-bottom 10px
        span
            display block
            font-size 15px
            font-weight 600
            margin-bottom 5px
            margin-top 20px
    &__img
        grid-area image
        position relative
        line-height 0
        img
            border-radius 0
            margin 0
            height 100%
            width 100%
        @media (min-width 900px)
            width auto
       // background #000
    &__btn
        width max-content
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

.price
    //margin 40px 0
    background-color #f5f5f5 
    background-image  radial-gradient(at top, rgba(221, 221, 221, 0.1), rgba(245, 245, 245, 0.1)), url('../images/price-bg.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover
    padding 20px 0
    @media (min-width 700px)
        padding 40px 0
    box-shadow inset 0px 4px 20px 0px rgba(0,0,0,0.06)
    &__title
        text-align center
        font-size 22px
        line-height 1.3em
        margin-bottom 25px
        @media (min-width 700px)
            font-size 28px
    &__form
    &__calculator
        padding 20px
        background #fff
        border-radius 10px
        box-shadow 5px 0 35px 0 #ddd
    &__form
        grid-area form
        margin-top 20px
    &__calculator
        grid-area calculator
    &__text
        margin-top 25px
        
     .btn
        width auto
        display table
        margin auto



.irs
    position relative
    display block
    user-select none
    font-size 12px

.irs-line
    position relative
    display block
    overflow hidden
    outline none !important

.irs-bar
    position absolute
    display block
    left 0
    width 0

.irs-shadow
    position absolute
    display none
    left 0
    width 0

.irs-handle
    position absolute
    display block
    box-sizing border-box
    cursor default
    z-index 1
    &.type_last
        z-index 2

.irs-min
.irs-max
    position absolute
    display block
    cursor default
.irs-min
    left 0

.irs-max
    right 0

.irs-from
.irs-to
.irs-single
    position absolute
    display block
    top 0
    left 0
    cursor default
    white-space nowrap

.irs-grid
    position absolute
    display none
    bottom 0
    left 0
    width 100%
    height 20px

.irs-with-grid
    .irs-grid
        display block

.irs-grid-pol
    position absolute
    top 0
    left 0
    width 1px
    height 8px
    background #000
    &.small
        height 0

.irs-grid-text
    position absolute
    bottom 0
    left 0
    white-space nowrap
    text-align center
    font-size 9px
    line-height 9px
    padding 0 3px
    color #000

.irs-disable-mask
    position absolute
    display block
    top 0
    left -1%
    width 102%
    height 100%
    cursor default
    background rgba(0, 0, 0, 0)
    z-index 2

.irs-disabled
    opacity 0.4

.irs-hidden-input
    position absolute !important
    display block !important
    top 0 !important
    left 0 !important
    width 0 !important
    height 0 !important
    font-size 0 !important
    line-height 0 !important
    padding 0 !important
    margin 0 !important
    overflow hidden
    outline none !important
    z-index -9999 !important
    background none !important
    border-style solid !important
    border-color transparent !important

.irs--round
    height 50px
    margin-top 5px
    &.irs-with-grid
        height 65px
    .irs-line
        top 37px
        height 3px
        background-color #dee4ec
        border-radius 5px
    .irs-bar
        top 37px
        height 3px
        background-color #2b519e 
    .irs-bar--single
        border-radius 5px 0 0 5px
    .irs-shadow
        height 4px
        bottom 21px
        background-color rgba(222, 228, 236, 0.5)
    .irs-handle
        top 28px
        width 20px
        height 20px
        //border 3px solid #2b519e
        background-color #2b519e
        border-radius 20px
        i
            height 10px 
            widows 1px
            background #fff
    .irs-grid
        height 25px
    .irs-grid-pol
        background-color #dedede
    .irs-grid-text
        color silver
        font-size 13px

// .irs--round .irs-handle.state_hover
// .irs--round .irs-handle:hover
//     //background-color #f0f6ff

.irs--round .irs-min
.irs--round .irs-max
    color #333
    font-size 14px
    line-height 1
    top 2px
    padding 3px 5px
    background-color rgba(0, 0, 0, 0.1)
    border-radius 4px

.irs--round .irs-from
.irs--round .irs-to
.irs--round .irs-single
    font-size 14px
    line-height 1
    text-shadow none
    padding 3px 5px
    background-color #d6dcf5
    color #333
    border-radius 2px

.irs--round .irs-from:before
.irs--round .irs-to:before
.irs--round .irs-single:before
    position absolute
    display block
    content ""
    bottom -6px
    left 50%
    width 0
    height 0
    margin-left -3px
    overflow hidden
    border 3px solid transparent
    border-top-color #d6dcf5


.row
    //justify-content space-between
    row-flex()
.col
    col()
    &_size      
        &_0
            width 0
            height auto 
        for $n in (1..12)
            &_{$n}
                size($n)
        &-xs
            @media (min-width 560px)
                &_0
                   width 0
                   height auto  
                for $n in (1..12)
                    &_{$n}
                        size($n)
        &-sm
            @media (min-width 780px)
                &_0
                   width 0
                   height auto 
                for $n in (1..12)
                    &_{$n}
                        size($n)
        &-md
            @media (min-width 960px)
                &_0
                   width 0
                   height auto 
                for $n in (1..12)
                    &_{$n}
                        size($n)
        &-lg
            @media (min-width 1100px)
                &_0
                   width 0
                   height auto 
                for $n in (1..12)
                    &_{$n}
                        size($n)
    &_offset
        for $n in (1..12)
            &_{$n}
                shift-left($n)
        &-xs
            @media (min-width 560px)
                for $n in (1..12)
                    &_{$n}
                        shift-left($n)
        &-sm
            @media (min-width 780px)
                for $n in (1..12)
                    &_{$n}
                        shift-left($n)
        &-md
            @media (min-width 960px)
                for $n in (1..12)
                    &_{$n}
                        shift-left($n)
        &-lg
            @media (min-width 1100px)
                for $n in (1..12)
                    &_{$n}
                        shift-left($n)

.form
    &__row
        margin-bottom 30px
    &__text
        font-size 14px
        line-height 1.3em
        color #555
        margin-bottom 10px
        &_title
            font-size 18px
            color #222


.tabs
    &__item
        margin-bottom 10px
        position relative
        &_active 
            .tabs__title
                //&:before
                &:after
                    opacity 0
                    //transform
    &__title
        position relative 
        background #477be6
        line-height 1.3em
        font-size 16px
        padding 10px 30px 10px 10px
        color #fff
        border-radius 4px 
        z-index 10
        cursor pointer
        &:before
        &:after
            opacity 1
            content ''
            position absolute
            background #fff
            top 50%
            transition all 0.8s
            border-radius 2px
        &:before
            height 2px
            width 12px
            right 10px
            // top calc(50%)
            transform translateY(-50%)
        &:after
            height 12px
            width 2px
            right 15px
            transform translateY(-50%)
    &__text
        line-height 1.4em
        font-size 14px
        background #fff
        padding 20px 10px 10px 10px 
        border-radius 4px
        border 1px solid #e0e0e0
        top -10px
        margin-bottom -10px
        position relative
        display none 

.triggers
    padding 25px 0
    background #fff url('../images/triggers-bg.jpg') center no-repeat
    background-size cover
    //background-attachment fixed
    box-shadow inset 0px 4px 20px 0px rgba(0,0,0,0.09)
    &__items
        row-flex()
        margin-top 30px
    &__item
        col()
        @media (min-width 700px)
            size(6)
        border 2px solid #d1ddec
        border-radius 4px
        padding 15px 10px 
        margin-bottom 20px
        font-size 16px 
        @media (min-width 700px)
            font-size 18px
        display flex
        align-items center
        img
            margin 0 15px 0 0
            width auto
            max-width 50px
    &__title
        font-size 22px 
        @media (min-width 700px)
            font-size 25px 
        line-height 1.2em
        color #000
        text-align center
        margin-bottom 5px

img.zoom
    cursor zoom-in

.stock
    width 100%
    margin-bottom 40px
    &_type_slider
        .stock__item
            margin-bottom 0

    &__wrapper
        position relative
        .bx-prev
        .bx-next
            top 50%
            transform translateY(-50%)
            @media (min-width 700px)
                top auto
                bottom 10px
                transform none       
    &__items
        display flex
        flex-wrap wrap
    &__item
        margin-bottom 20px
        overflow hidden
        border-radius 4px
        background-image linear-gradient( 107deg, rgba(214,227,254,.3) 0%, rgba(201,199,199,.3) 78%, rgba(213,213,213,.3) 100%)
        @media (min-width 700px)
            display grid
            grid-template-areas 'image body'
            grid-template-columns 55% 45%
    &__body
        padding 20px 35px
        grid-area body
    &__title
        font-size 20px
        line-height 1.2em
        color #000
        margin-bottom 10px
    &__text
        font-size 14px
        line-height 1.4em
        margin-bottom 10px
        span
            display block
            font-size 15px
            font-weight 600
            margin-bottom 5px
            margin-top 20px
    &__img
        grid-area image
        position relative
        line-height 0
        img
            border-radius 0
            margin 0
            height 100%
        @media (min-width 900px)
            width auto
    &__btn
        width max-content
        margin 20px auto
        display table
        // position absolute
        // top 50%
        // left 50%
        // transform translate(-50%, -50%)

.logos
    text-align center 
    display flex
    flex-wrap wrap
    justify-content center
    &__item
        width calc(33% - 10px)
        margin 5px
        text-align center 
        img
            // max-width 156px
            width auto
        @media (min-width 640px)
            width calc(20% - 20px)
            margin 10px
        @media (min-width 1140px)
            width calc(20% - 20px)


.map
    margin-top 50px
    border-top 1px solid #d1ddec
    width 100%
    height 300px
    @media (min-width: 790px)
        height 400px

.title
    position relative
    margin 30px 0
    &__wrap
        &:before
            @media (min-width 550px)
                display block
            display none
            content " "
            position absolute
            width 100%
            height 4px
            background #aabfe7
            top calc(50% - 2px)
            left 0
        @media (min-width 550px)
            padding 20px
    &__text
        font-size 28px
        line-height 1.2em
        background #fff
        padding 0 20px
        text-align center
        background #fff
        margin auto
        display table
        position relative
        border-radius 30px
        @media (min-width 550px)
            &:before
            &:after
                display block
                content " "
                position absolute
                width 4px
                height 4px
                background #aabfe7
                top calc(50% - 2px) 
            &:before
                left 0
                border-radius 0 10px 10px 0
            &:after 
                right 0
                border-radius 10px 0 0 10px
    &:before
    &:after 
        @media (min-width 550px)
            display block
        display none
        content " "
        position absolute
        width 14px
        height 14px
        background #aabfe7
        border-radius 20px
        top calc(50% - 7px)
    &:before
        left -10px
    &:after 
        right -10px


.query2result          
    &__query
    &__result
        border-radius 4px
        padding 10px 20px  
        margin-bottom 20px
    &__item
        margin-bottom 15px
        background-position left center
        background-repeat no-repeat
        background-size 25px
        padding 5px 0 5px 30px 
        line-height 1.2em
    &__result
        height 100%
        //background #eee
        border 2px solid #4273d6
        font-weight 600
        .query2result__item
            background-image url(../images/i32.png) 
    &__query
        height 100%
        font-weight 600
        @media (min-width 780px)  
            margin-bottom 5px
        border 2px solid #d1ddec
        .query2result__item
            background-image url(../images/i68.png) 


.docs
    padding 0 10px
    &__col
        width 100%
        margin 0
        background #eee
        padding 10px 20px
        border-radius 4px 4px 0 0 
        @media (min-width 780px)
            border-radius 4px 0 0 4px 
            width 40%
        &_well
            background #cddbf7
            border-radius 0 0 4px 4px
            @media (min-width 780px)
                border-radius 0 4px 4px 0 
                width 60%

.quiz
    @media (min-width 700px)
        padding 20px 30px 
    line-height 1.25em

    .radio_type_img
        display flex
        flex-wrap wrap
        .radio__item
            width 100%
            @media (min-width 500px)
                width calc(50% - 20px)
            margin 10px
    &__ok
        .quiz__question
            text-align center
        //     margin-bottom 30px
        max-width 500px 
        min-width 200px
        width 100% 
        margin auto
        .input
            margin-left auto 
            margin-right auto
    &__title
        font-size 14px
        margin-bottom 10px
        padding-bottom 10px
        border-bottom 1px solid #eee 
    &__test
        @media (min-width 700px)
            width calc(100% - 200px)
            padding-right 20px
        @media (min-width 1000px)
            padding-right 30px
            width calc(100% - 350px)
    &__description
        text-align center
        @media (min-width 700px)
            width 200px
        @media (min-width 1000px)
            width 350px
    &__question
        font-size 20px
        @media (min-width 700px)
            font-size 22px
        margin-bottom 20px
        span 
            font-size 16px
            padding-top 12px
            display inherit
    &__footer
        @media (min-width 700px)
            display flex
            align-items center
    &__progress-bar-label  
        position relative
        font-size 18px
        color #f95555
        font-weight 600
        margin-bottom 5px
        @media (min-width 700px)
            margin-bottom 15px
        &:before
            position relative
            content 'Готово '
            margin-right 3px
            font-size 14px
            color #000
            font-weight 500
    &__progress-bar
        width 100%
    &__progress-bar-field
        height 10px
        box-shadow 0 0px 6px 0px rgba(207, 207, 207, 0.4);
        width 100%
        border-radius 40px
        background #eee 
        position relative
        margin-bottom 5px
        @media (min-width 700px)
            margin-bottom 20px
        flex-shrink 0
        border 1px solid #ddd
        span
            transition all 0.7s
            content ''
            position absolute
            //background-color #2b519e
            background-image linear-gradient(90deg, #96b4ec, #aabfe7)
            height 8px
            width 0%
            border-radius 40px
            top 0
            left 0
            bottom 0
            right 0
            &:after
                content ""
                position absolute
                top 0
                left 0
                bottom 0
                right 0
                height 8px
                border-radius 40px
                background-image  linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 25%, transparent 0, transparent 50%, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 75%, transparent 0, transparent 100%)
                background-size 40px 40px
                mix-blend-mode overlay
                opacity .8
                animation quiz__progress-bar__move 3s linear infinite
    &__item
        padding 20px 0
        @media (min-width 700px)
            display flex
            flex-wrap wrap
    &__number
        font-size 13px
        flex-shrink 0
        margin-bottom 10px
        @media (min-width 700px)
            margin 12px 30px 0 20px
    &__next
    &__previous
        cursor pointer
        height 40px
        line-height 40px
        border-radius 40px
        display flex
        justify-content center
        align-items center
        flex-shrink 0
        font-size 16px
    &__next 
        width max-content
        float right
        @media (min-width 700px)
            float none
        background #f95555
        color #fff
        padding 0 25px 0 20px
        .arrow
            position relative
            left 10px
    &__previous
        width 40px
        border 1px solid #ddd
        background #eee
        float left
        @media (min-width 700px)
            float none 
            margin 0 10px 
        
@keyframes quiz__progress-bar__move 
    0%
        background-position 0 0
    to
        background-position 40px 40px
        

.share
    margin-bottom 40px
    border-radius 4px
    background-image linear-gradient( 107deg, rgba(214,227,254,.3) 0%, rgba(201,199,199,.3) 78%, rgba(213,213,213,.3) 100%)
    form
        margin 10px
        background #fff
        padding 10px 15px
        @media (min-width 900px)
            padding 20px
            margin 15px
        border-radius 4px
        box-shadow 0 6px 20px 0px #d0d0d0
    &__title
        font-size 20px
        line-height 1.2em
        color #000
        padding 20px 20px 10px 20px 
    &__duration
        display inline
    &__difference
        display inline
        font-weight 600
    &__text
        font-size 14px
        line-height 1.4em
        padding 0 20px 20px 20px 
        span
            display block
            font-size 15px
            font-weight 600
            margin-bottom 5px
            margin-top 20px
    &__form-title
        font-size 18px
        margin-bottom 15px
        text-align center
        font-weight 600
    &__img
        position relative
        line-height 0
        img
            border-radius 0
            margin 0
            height 100%
        @media (min-width 900px)
            width auto

.product
    background #f1f1f1
    line-height 1.2em
    margin auto
    text-align center
    font-weight 500
    margin-bottom 20px
    width 275px
    height 250px
    position relative
    overflow hidden
    border-radius 4px 
    &__img
        transition all .8s linear
        &_hover
            transform scale(1.2,1.2) rotate(10grad)
    &__bg
        padding 5px 5px
        position absolute
        top 0
        left 0
        width 275px
        height 250px
        background rgba(0, 0, 0, 0.3)
    &__text
        display flex
        justify-content center
        flex-direction column
        border 1px solid #fff
        width 100%
        height 100%
        border-radius 2px 
    &__title
        font-size 20px
        line-height 1.4em
        color #fff
        margin-bottom 20px
        text-shadow 0 0 9px rgba(0, 0, 0, 0.9)
    &__price
        font-size 17px
        color #fff
        margin-bottom 10px
        font-weight 500
        &_old
            font-weight 300
            font-size 15px
            text-decoration line-through
    &__btn
        display table
        width max-content
        margin 15px auto 

.card
    margin-bottom 30px
    position relative
    width 100%
    border 1px solid #f4f4f4
    border-radius 4px
    background #fff
    box-shadow 0px 5px 20px 0px rgba(92, 92, 92, 0.1)
    &__body
        padding 0 20px 10px 20px
        line-height 1.4em
        color #000
    &__title
        font-size 17px
        margin-bottom 15px
        font-weight 600
        text-align center
    &__img
        width 100%
        max-width 100%
        height auto
        border-radius 4px 4px 0 0 !important 
        margin-bottom 10px

.form-horizontal
    width 100% 
    padding 20px 0
    background #fdfdfd
    border-bottom 1px solid #eee
    border-top 1px solid #eee
    box-shadow inset 0 0 6px 0px #e0e0e0
    &__title
        font-size 18px
        margin-bottom 15px 
        padding-top 10px
        font-weight 600
    &__description 
        font-size 15px
        margin-bottom 25px 
    &__btn
        margin-top -4px
        margin-bottom 10px

.center
    text-align center
    margin auto
    display table




// .timer
//     margin auto
//     margin-bottom 10px 
//     display table
//     @media (min-width 990px)
//         margin-bottom 0 
//     &__action
//         font-size 16px
//         line-height 1.2em
//         margin 15px 0 10px 0
//         text-align center
//     &__el
//         display inline-block
//         width 50px
//         margin-right 14px
//         // @media (min-width 500px)
//         //     margin-right 15px
//         //     width 74px
//     &__numeral
//         border 2px solid #305aae
//         border-radius 50%
//         positio absolute
//         @media (min-width 600px)
//             line-height 46px
//         //     width 74px
//         //     height 74px
//         //     font-size 45px
//         //     line-height 70px   
//         width 50px
//         height 50px
//         line-height 50px
//         font-size 30px
//         text-align center
//         font-weight 300
//         display inline-block
//     &__text
//         margin-top 10px
//         // @media (min-width 500px)
//         //     font-size 16px
//         font-size 14px
//         line-height 1em
//         text-align center

.table
    display block
    // width 100%
    position relative
    // overflow-x auto
    margin 0 -20px
    border 2px solid #dee2e6
    border-right none
    border-radius 4px
    background #f0f0f0
    @media (min-width 500px)
        border 2px solid #dee2e6
        margin auto 
    &__wrapper
        overflow-x auto
        overflow-y visible
        margin-left 100px
        border-left 2px solid #dee2e6
        background #fff
        @media (min-width 500px)
            margin-left 0
            border none
    table
        text-align left
        width 100%
        font-size 14px
        border-collapse separate
    // tr,
    // th
    //     padding 10px
    //     vertical-align top
    //     border-top 1px solid #dee2e6
    th
    td
        padding 10px
        vertical-align top
        font-weight 500
        border-top 2px solid #dee2e6
    td
        border-right 2px solid #dee2e6
        @media (min-width 500px)
            border-right none
            border-left 2px solid #dee2e6
    th
        font-size 12px
        font-weight 600
        @media (min-width 500px)
            font-size 14px
            font-weight 500
    thead
        th
        td
            border-top none
            font-weight 600
    tbody
        td
            min-width 200px
    th
        position absolute
        left 0
        width 100px
        @media (min-width 500px)
            left auto
            position relative
            width auto
            min-width 200px

