extends ../blocks/layout-default/layout-default
prepend head
    title HI
block content
    .header
        .container
            +b.hamburger
                +e.plank
                +e.plank
                +e.plank
            .logo
            .header__right
                .header__description Консультация по телефону
                +b.phone
                    +e.icon 
                    +e.text 8 (863) 303-38-33
                +b.maps
                    +e.icon 
                    +e.text Ростов-на-дону <br>ул.Текучева, 23, эт. 3
    +b.offer
        +e.wrapper.container
            +e.title Проектно-строительная компания
            +e.description Работаем в Ростов-на-дону и Ростовской области
            +b.btn.btn_view_light.offer__btn
                +e.text Записаться на консультацию
    //- +b.btn.btn_view_action
    //-     +e.text Записаться на консультацию
    //- +b.btn.btn_view_pseudo
    //-     +e.text Записаться на консультацию
    .content
        .container
            +b.breadcrumbs
                +e.home
                +e.separator
                +e({tag:'a'}).item О нас
                +e.separator 
                +e({tag:'a'}).item О нас
    +scripts(['common.js', 'app.js'])

