extends ../blocks/layout-default/layout-default
prepend head
    title HI
block content
    .page__main                               
        .main
            .container


                section.container
                    +b.title 
                        +e.wrap
                            +e.text 123
                    +b.slider.slider_type_objects
                        +e.wrapper
                            +e.items
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Провели водопровод в СНТ 1
                                            +e.text
                                                span Задача
                                                | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                    
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Провели водопровод в СНТ 2
                                            +e.text
                                                | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                   
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Провели водопровод в СНТ 3
                                            +e.text
                                                span Задача
                                                | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                    
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Провели водопровод в СНТ 4
                                            +e.text
                                                | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                   
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Провели водопровод в СНТ 5
                                            +e.text
                                                span Задача
                                                | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                    
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Провели водопровод в СНТ 6
                                            +e.text
                                                | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                   
                section.container
                    +b.slider.slider_type_cases
                        +e.wrapper
                            +e.items
                                +e.item
                                    +b.case
                                        +e.body
                                            .row
                                                .col.col_size_12.col_size-sm_5
                                                    img(src="https://bk-invent.ru/uploads/images/cases-vk-1_1.jpg")   
                                                .col.col_size_12.col_size-sm_7  
                                                    +e.title Провели водопровод в СНТ “Труженик”
                                                    +e.text
                                                        span Задача
                                                        | Провести водопровод для хозяйственно-бытовых нужд и пожаротушения 50 домов, находящихся в СНТ, оформить сети и получить лицевой счет
                                                    +e.text
                                                        span Особенности проекта
                                                        | Нет данных топосъемки, плотная застройка и мало места для размещения строительной техники, нет готовых точек ввода для создания кольцевой линии подключения возле объекта, линии электропередач и природоохранная зона
                                                    +e.text
                                                        span Результаты
                                                        | Кольцевой трубопровод с подключением 50 домов введен в эксплуатацию, все документы согласованы, собственникам установлены индивидуальные счетчики для сдачи показателей

                                +e.item
                                    +b.case
                                        +e.body
                                            .row
                                                .col.col_size_12.col_size-sm_3
                                                    img(src="https://bk-invent.ru/uploads/images/cases-vk-2_3.jpg")   
                                                .col.col_size_12.col_size-sm_9 
                                                    +e.title Рельсы-рельсы, шпалы -шпалы, ехал трамвай, а мы прокладывали канализацию
                                                    +e.text
                                                        span Задача
                                                        | Подключить к системе водоотведения частный дом, располагающийся на ул. Ченцова
                                                    +e.text
                                                        span Особенности проекта
                                                        | Изменение точки подключения, проектирование сетей канализации между линией трамвайных путей и зелеными насаждениями. Прокладка трубопровода бестраншейным методом. После того как были раскопаны приямки - начался затяжной дождь. Особенноститсутствие у заказчика колодца и, соответственно, счетчика на точке подключения по водоснабжению.
                                                    +e.text
                                                        span Результаты
                                                        | Изготовлен и согласован проект таким образом, что линия не попала в охранную зону. Проложена рабочая сеть канализации. Установлен счетчик в водопроводном колодце во дворе, согласована схема прибора учета в Водоканале. Сеть канализации сдана, получен лицевой счет. Канализация работает исправно.

                               
                                +e.item
                                    +b.case
                                        +e.body
                                            .row
                                                .col.col_size_12.col_size-sm_5
                                                    img(src="https://bk-invent.ru/uploads/images/cases-vk-3_4.jpg")   
                                                .col.col_size_12.col_size-sm_7 
                                                    +e.title Подключение водоотведения на перепаде земли для Ветерана ВОВ, ул. Профсоюзная
                                                    +e.text
                                                        span Задача
                                                        | Провести канализацию по предложенному проекту, подготовить исполнительные документы для сдачи сетей в Водоканал
                                                    +e.text
                                                        span Особенности проекта
                                                        | Проектируемая глубина колодца 5м. Магистральная линия проходит на проезжей части. Сеть прокладывалась бестраншейным методом при условии сильного уклона. Бригада была оснащена страховочным поясом, усиленной специальной одеждой для безопасности работы на глубине
                                                    +e.text
                                                        span Результаты
                                                        | Сеть проложена и исправно работает. Были подготовлены все исполнительные документы, в том числе профиль бурения. Колодец был проверен на герметичность. Сеть сдали, исправно работает. На протяжении гарантийного срока нареканий не оказалось.


                                +e.item
                                    +b.case
                                        +e.body
                                            .row
                                                .col.col_size_12.col_size-sm_2
                                                    img(src="https://bk-invent.ru/uploads/images/cases-vk-4_3.jpg")   
                                                .col.col_size_12.col_size-sm_10  
                                                    +e.title Подключение водоснабжения и канализации в стесненных условиях центральной части города ул. Варфоломеева
                                                    +e.text
                                                        span Задача
                                                        | Провести работы “под ключ” по водоснабжению и водоотведению
                                                    +e.text
                                                        span Особенности проекта
                                                        | Перепады земли, антиуклон. Принято решение о том, что сеть водоотведения может прокладываться только напорная. Сети прокладываются параллельно друг другу в проезде шириной не более 3,5 м, с каждой стороны которого стоят дома. В одной из точек трассы между сетями располагается колодец связи. После выхода из проезда располагается большое дерево тополя с корневой системой до 3 м в диаметре. Проект был очень сложен, как в согласовании, так и в реализации. Сети строились последовательно. Сначала водопровод, а потом канализация.
                                                    +e.text
                                                        span Результаты
                                                        | Сети построены, лицевой счет открыт, заказчик пользуется. Еще идет гарантийное время, обращений не поступало.




    +scripts(['common.js', 'app.js'])

