extends ../blocks/layout-default/layout-default
prepend head
    title HI
block content
    .page__main                               
        .main
            +b.banner(style="background-image:url(images/baner1.jpg);")
                +e.box
                    +e.text
                        .offer__title Водоснабжение и канализация для частных домов
                        .offer__description Работаем в Ростов-на-дону и Ростовской области
            +b.banner(style="background-image:url(images/baner1.jpg);")
                +e.box
                    +e.text
                        .offer__title Согласованный проект на воду и канализацию
                        .offer__description В Ростове-на-Дону и Ростовской области
                        | <div style=" font-size: .8em; line-height: 1.8em; color: #fff; margin-top: 15px;">Проект наружных сетей<br>Проект ВК по инвестиционной программе<br>Проект узла учета ХСВ<br>Проект внутридомовых сетей</div>
                        | <div class="btn btn_view_light offer__btn" data-modal="modal__price-per-day"><div class="btn__text"> Согласованный проект водоснабжения: от 557 руб. / день</div></div>
            .content
                section.container
                    +b.title 
                        +e.wrap
                            +e.text Образцы наших проектов
                    .row 
                        .col.col_size_12.col_size-sm_12.col_size-md_4
                            img(data-src="images/p/p1/0.jpg" data-modal="p1").zoom-img
                            .modal.modal_type_zoom#p1
                                .modal__wrapper
                                    .modal__dialog
                                        .close.modal__close
                                        .modal__html 
                                            +b.slider.slider_type_cases
                                                +e.wrapper
                                                    +e.items
                                                        +e.item
                                                            img(data-src="images/p/p1/1.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p1/2.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p1/3.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p1/4.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p1/5.jpg" )
                        .col.col_size_12.col_size-sm_12.col_size-md_4
                            img(data-src="images/p/p2/0.jpg" data-modal="p2").zoom-img
                            .modal.modal_type_zoom#p2
                                .modal__wrapper
                                    .modal__dialog
                                        .close.modal__close
                                        .modal__html 
                                            +b.slider.slider_type_cases
                                                +e.wrapper
                                                    +e.items
                                                        +e.item
                                                            img(data-src="images/p/p2/1.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p2/2.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p2/3.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p2/4.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p2/5.jpg" )
                        .col.col_size_12.col_size-sm_12.col_size-md_4
                            img(data-src="images/p/p3/0.jpg" data-modal="p3").zoom-img
                            .modal.modal_type_zoom#p3
                                .modal__wrapper
                                    .modal__dialog
                                        .close.modal__close
                                        .modal__html 
                                            +b.slider.slider_type_cases
                                                +e.wrapper
                                                    +e.items
                                                        +e.item
                                                            img(data-src="images/p/p3/1.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p3/2.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p3/3.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p3/4.jpg" )
                                                        +e.item
                                                            img(data-src="images/p/p3/5.jpg" )
                section.container
                    +b.title 
                        +e.wrap
                            +e.text Реализованные объекты
                    +b.slider.slider_type_objects
                        +e.wrapper
                            +e.items
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title МУП "ВКХ" г. Геленджик
                                            +e.text
                                                | Бестраншейная прокладка канализационного коллектора (диаметр 415мм) к очистным сооружениям МУП ВКХ (водоканала) г. Геленджик. Процесс усложнен узкими расстояниями между существующими коммуникациями, проложенными по периметру коллектора.
                                                    
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title СНТ “Труженик”, г.Ростов-на-Дону
                                            +e.text
                                                | Комплексное подключение водопровода для хозяйственно-бытовых нужд и пожаротушения для 50 домов, выполнена топосъемка, получены ТУ, проект, согласован проект магистральной сети, проложена магистральная сеть, сдана в эксплуатацию, проведены испытания МЧС, оформлен лицевой счет, проведены вводы к каждому участку.
                                                   
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ТСЖ “Алмаз -1”
                                            +e.text
                                                | Замена канализационных выпусков от многоэтажного дома бестраншейным способом, диаметр 160, протяженностью 18 м каждый.

                                                    
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title СНТ “Дружба МВД”
                                            +e.text
                                                | Реконструкция водопроводной системы садоводческого товарищества с увеличением пропускной способности, получение технических условий в АО “Ростовводоканал”, разработка схемы реконструкции, выполнение строительно-монтажных работ по перекладке водопроводных сетей с диаметра 50мм на 100 мм, замена узла учета, опломбировка.

                                                   
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Автомойка, ИП Гергерт В.В.
                                            +e.text
                                                | Нестандартное решение по подключению объекта к канализации. Объект разделен на 2 этажа - первый автомойка, второй жилой дом. Было реализовано следующее решение: подключение второго этажа к городским сетям (хозяйственно-бытовые нужды) и устройство локального очистного сооружения оборотного водоснабжения для автомойки

                                                    
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title АЗС “Прогресс” на ул. Шолохова
                                            +e.text
                                                | Замена водопроводного ввода протяженностью 63м диаметром 25мм в условиях оживленной дорожной части.
                                
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “Юг Руси”
                                            +e.text
                                                | Комплексная прокладка водопровода протяженностью 1,2 км к административному объекту, находящемуся в ст.Ольгинская с устройством пожарных гидрантов.
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “Хладокомбинат №3”
                                            +e.text
                                                | Комплексное проектное решение по устройству стока канализации производственных нужд с включением комплекса очистных сооружений, реализация проектного решения : строительство сетей и устройство агрегатов.
                                
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “СМУ-1”
                                            +e.text
                                                | Субподрядные работы по реконструкции сетей водопровода в п.Овощной Ростовской области бестраншейным способом, а также прокладке водовода диаметр 600мм.

                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ИП Карабашев Ш.Х.
                                            +e.text
                                                | Водоснабжение и канализация салона красоты. Заказчик обратился с готовым проектом, вышел срок согласований. Проект пересогласован. Сети проведены под оживленной дорожной частью, а также вдоль пешеходной зоны бестраншейным методом, проложен футляр 415мм - на канализации, 315 на водоснабжении. Сеть сдана в эксплуатацию АО “Ростовводоканал”.

                                
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title АО “ТФК “Камаз”
                                            +e.text
                                                | Комплексное решение по устройству стока канализации хозяйственно-бытовых, производственных нужд, поверхностно-сточных вод, проектирование и устройство очистных сооружений.

                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title Московское Проп Мин Труда России ФГУП “Протезный завод”
                                            +e.text
                                                | Комплексное проектное решение по устройству стока канализации производственных нужд с включением комплекса очистных сооружений, реализация проектного решения.

                                
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “Аграм Юг” (завод в с.Багаевка)
                                            +e.text
                                                | Прокладка сетей канализации производственных стоков бестраншейным методом, диаметр 160мм, протяженность 310м, с соединением с очистными сооружениями.

                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ИП Планидина О.С.
                                            +e.text
                                                | Комплексное водоснабжение и канализация автомойки, получение договора, проектирование с учетом прокладки сетей ГНБ, согласование (21 печать) + доп. согласование с частными владельцами сетей (ООО “КЗ Ростсельмаш”, и др.). Прозвон кабелей, пробивка газа перед началом СМР. Проведение строительства бестраншейным способом, самотечная канализация.

                                
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ТСЖ “Наш Дом”
                                            +e.text
                                                | Замена канализационных выпусков от многоэтажного дома бестраншейным способом, диаметр 160 протяженностью 12 метров каждый.
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ТСЖ “ТСЖ Контакт”
                                            +e.text
                                                | Переподключение водопроводных вводов к многоквартирному дому по адресу ул. Чехова, 107. Водопроводные вводы диаметром 63мм, протяженность каждого 17м.
                                
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “Юг Руси”
                                            +e.text
                                                | Реконструкция канализационной сети на территории предприятия “Юг Руси”.

                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “Шодо”
                                            +e.text
                                                | Комплексное проектное решение по устройству ливневой канализации по адресу г. Ростов-на-Дону, ул. Левобережная, 83 для гостинично-ресторанного комплекса “Шодо”.
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ПАО Банк “ФБ Открытие”
                                            +e.text
                                                | Комплексное проектное решение по канализированию объекта (банка). Изготовление топографической съемки, получение технических условий, изготовление и согласование проекта напорной канализации по ул. Шолохова.
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ООО “Хладокомбинат №3”
                                            +e.text
                                                | Реконструкция подводящего водовода бестраншейным методом, диаметр 110, протяженность 230, с устройством пожарных гидрантов, осуществление переподключения.
                                +e.item
                                    +e.body
                                        +b.object
                                            +e.title ОАО “РЖД”
                                            +e.text
                                                | Изготовление проектной документации по водоснабжению 7 объектов по гос.контракту 223 ФЗ.
                                                   
                section.container
                    +b.title 
                        +e.wrap
                            +e.text Кейсы
                    +b.slider.slider_type_cases
                        +e.wrapper
                            +e.items
                                +e.item
                                    +b.case
                                        +e.body
                                            +e.img
                                                img(src="images/c-e-1.jpg")   
                                            +e.text 
                                                +e.title Электричество в офисное здание Стачки 118
                                    
                                                span Задача
                                                | В частном жилом доме площадью 398м2 провести комплексные работы по газификации, получить лицевой счет
                                            
                                                span Особенности проекта
                                                | На каждом этаже здания оформить распределительный щиток с предохранителями, оформить розетки около каждого предполагаемого рабочего места, освещение организовать так, чтобы оно обеспечивало необходимый уровень для каждого сотрудника, с возможностью регулирования
                                               
                                                span Результаты
                                                | Проведено электричество, сети оформлены. Изготовлен проект на все здание, согласован, введен в эксплуатацию.

                                +e.item
                                    +b.case
                                        +e.body
                                            +e.img
                                                img(src="images/c-e-2.jpg") 
                                            +e.text 
                                                +e.title Электрификация “под ключ” частного дома ул. Коммунаров, 33
                                                
                                                span Задача
                                                | Провести электричество в новый дом, ввести в эксплуатацию
                                            
                                                span Особенности проекта
                                                | Дом 1 этаж, стандартные приборы. Заказчик контролировал работы удаленно, находясь в другом городе
                                                span Результаты
                                                | Поэтапно провели работы по электрификации, ввели в эксплуатацию, получили лицевой счет

                               




    +scripts(['common.js', 'app.js'])

