extends ../blocks/layout-default/layout-default
prepend head
    title HI
block content
    .header
        .container
            .header__wrapper
                .header__left
                    +b.hamburger
                        +e.plank
                        +e.plank
                        +e.plank
                    .logo
                        .logo__image
                        .logo__description Проектно-строительная<br>компания
                .header__center
                    +b.top-menu
                        +e.item
                            +e({tag: 'a'}).link О нас
                            +e.submenu
                                +e.item
                                    +e({tag: 'a'}).link 100 слов о БК Инвент
                                +e.item
                                    +e({tag: 'a'}).link Наши лицензии
                                +e.item
                                    +e({tag: 'a'}).link Как мы работаем
                                +e.item
                                    +e({tag: 'a'}).link Наша дружная команда
                                +e.item
                                    +e({tag: 'a'}).link Мнение со стороны 
                                +e.item
                                    +e({tag: 'a'}).link Как попасть в команду
                        +e.item
                            +e({tag: 'a'}).link Акции
                        +e.item
                            +e({tag: 'a'}).link Полезные статьи
                        +e.item
                            +e({tag: 'a'}).link Партнерам
                        +e.item
                            +e({tag: 'a'}).link Контакты
                        +e.item
                            //+e({tag: 'a'}).link
                            img(src="images/search.svg").top-menu__search
                .header__right
                    +b.phone
                        +e.description Консультация по телефону
                        +e.wrap
                            +e.icon 
                            +e.text 8 (863) 303-38-33
                    +b.maps
                        +e.icon 
                        +e.text Ростов-на-Дону <br>ул.Текучева, 23, эт. 3
    +b.menu
        .container
            +e.item
                img(src="images/building.svg" height="25px")
                +e({tag: 'a'}).link Проектирование<br>и строительство
                +e.submenu
                    +e.item
                        +e({tag: 'a'}).link.menu__link_title Индивидуальное проектированиеь
                        +e({tag: 'a'}).link Поиск земельного участка
                        +e({tag: 'a'}).link Проект развития земельного участка
                        +e({tag: 'a'}).link Эскизное проектирование
                        +e({tag: 'a'}).link Инженерные изыскания
                        +e({tag: 'a'}).link Генеральный план
                        +e({tag: 'a'}).link Архитектурные решения
                        +e({tag: 'a'}).link Технологические решения
                        +e({tag: 'a'}).link Конструктивные решения
                        +e({tag: 'a'}).link Инженерные системы
                        +e({tag: 'a'}).link Пожарная безопасность
                        +e({tag: 'a'}).link Охрана окружающей среды
                        +e({tag: 'a'}).link Проект организации строительства
                        +e({tag: 'a'}).link Проект реконструкции

                    +e.item
                        +e({tag: 'a'}).link.menu__link_title Готовые проекты
                        +e({tag: 'a'}).link 1-этажные ИЖД
                        +e({tag: 'a'}).link 2-этажные ИЖД
                        +e({tag: 'a'}).link 3-этажные ИЖД
                        +e({tag: 'a'}).link 1-этажные офисные здания
                        +e({tag: 'a'}).link 2-этажные офисные здания
                    +e.item
                        +e({tag: 'a'}).link.menu__link_title Строительство
                        +e({tag: 'a'}).link Строительство с “0” 
                        +e({tag: 'a'}).link Реконструкция 
                        +e({tag: 'a'}).link Рассчитать смету на основании проекта


            +e.item
                +e({tag: 'a'}).link Инженерные сети<br>“под ключ”
            +e.item
                img(src="images/geodesy.svg" height="30px")
                +e({tag: 'a'}).link Геодезия,<br>кадастровые работы
            +e.item
                +e({tag: 'a'}).link Юридическое<br>сопровождение
            +e.item
                img(src="images/design.svg" height="23px")
                +e({tag: 'a'}).link Дизайн<br>интерьера/экстерьера
            +e.item
                +e({tag: 'a'}).link Бестраншейные<br>технологии
    .nav
        //- .nav__header
        //-     .nav__back
        //-     .icon-close
        +b.mobile-menu
            +e.item
                +e({tag: 'a'}).link.mobile-menu__link_arrow О нас
                +b.mobile-submenu.mobile-menu__submenu
                    +e.item
                        +e({tag: 'a'}).link.mobile-submenu__link_arrow Акции
                        +b.mobile-submenu.mobile-submenu__submenu
                            +e.item
                                +e({tag: 'a'}).link Акции   
                            +e.item
                                +e({tag: 'a'}).link Акции
                            +e.item
                                +e({tag: 'a'}).link Акции   
                    +e.item
                        +e({tag: 'a'}).link Акции
                    +e.item
                        +e({tag: 'a'}).link Акции        
    +b.offer
        +e.wrapper.container
            +e.title Проектно-строительная компания
            +e.description Работаем в Ростов-на-дону и Ростовской области
            +b.btn.btn_view_light.offer__btn
                +e.text Записаться на консультацию
    //- +b.btn.btn_view_action
    //-     +e.text Записаться на консультацию
    //- +b.btn.btn_view_pseudo
    //-     +e.text Записаться на консультацию
    
    .container
        +b.breadcrumbs
            +e.home
            +e.separator
            +e({tag:'a'}).item О нас
            +e.separator 
            +e({tag:'a'}).item О нас
    .content
        .container
            h1 Проектно-строительная компания
            h2 Проектно-строительная компания
            h3 Проектно-строительная компания
            h4 Проектно-строительная компания
            p Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Таким образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. <a>С другой стороны</a> постоянное <b>информационно-пропагандистское</b> обеспечение нашей деятельности представляет собой интересный <a href='/'>эксперимент</a> проверки форм развития. Повседневная практика показывает, что сложившаяся структура организации требуют от нас анализа модели развития. Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации систем массового участия.
            ul.list.list_type_check
                li 123
                li Повседневная практика показывает, что сложившаяся структура организации требуют от нас анализа модели развития. Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации систем массового участия.
                li 123
            ul.list
                li 123
                li 123
                li Повседневная практика показывает, что сложившаяся структура организации требуют от нас анализа модели развития. Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации систем массового участия.
            img(src="http://farm8.static.flickr.com/7907/33535681578_4091be1523_b.jpg")
            blockquote По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповт оримый колорит советских времен.
            form.form.ajax
                .input
                    .input__box
                        .input__top-border
                        .input__title Имя
                        .input__icon
                        input(name='name').input__control
                    .input__message(data-default="Укажите точно как в паспорте")
                .input
                    .input__box
                        .input__top-border
                        .input__title Имя
                        .input__icon
                        input(name='phone' value="123").input__control
                        //- label(for="name") 123
                .input
                    .input__box
                        .input__top-border
                        .input__title Email
                        .input__icon
                        input(name='email').input__control
                    .input__message
                button(type="submit").btn.btn_view_pseudo
                    .btn__text Записаться на консультацию
    .footer
        .container 123
    .copyright
        .container 
            |copyright © 2019 bY BK Invent LLC.
            br 
            |Все права защищены. 
            br
            |Запрещено любое копирование материалов ресурса без письменного согласия владельца — ООО "БК Инвент".

    +scripts(['common.js', 'app.js'])

